{% load display_tags %}
{% load custom_tags %}
{% load i18n %}


<table class="calendar-table range-{{ range_num }} {% if range_num == "2" %}d-none{% endif %}">
    <thead>
        <tr>
            {% for day in days %}
                <th {% if day == current_day %} class="bg-gradient-gray-200"{% endif %}>
                    {{ day|date:"l" }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for day in days %}
                <th {% if day == current_day %} class="bg-gradient-gray-200"{% endif %}>
                    {{ day.day }}&nbsp;{{ day|date:"N" }}
                    {% if day|date:"Y" != current_year %}{{ day|date:"Y" }}{% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for day in days %}
                <td{% if day == current_day %} class="bg-gradient-gray-200"{% endif %}>
                    {% with index_events=website_events.index_events_by_day|get_item:day %}
                        {% for index_event in index_events %}
                            <div class="text-center">
                                <div class="colored-schedule d-inline-block clickable" onclick="return goToChurch('{{ website.uuid }}', '{{ index_event.church.uuid }}', 'false')"
                                          title="{{ index_event.church.name }}"
                                          style="background-color: {{ index_event.church_color }}"
                                    >{% display_hour index_event.start_time %} - {% if index_event.displayed_end_time %}{% display_hour index_event.displayed_end_time %}{% else %}?{% endif %}
                                </div>
                            </div>
                        {% empty %}
                            -
                        {% endfor %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>