{% load custom_tags %}
{% load display_tags %}
{% load i18n %}

{% with website_events=events_by_website|get_item:website.uuid %}
<div class="row mt-4 website-card" id="{{ website.uuid }}">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body px-3 py-3 px-md-5 py-md-5 text-left">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row mb-1">
                            <div class="col-md-8">
                                <h3 class="mb-0">
                                    <a class="text-tertiary"
                                        href="{% url 'website_view' website.uuid %}">
                                        {{ website.name }}
                                    </a>
                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                        <a class="text-muted small" href="{% url 'admin:registry_website_change' website.uuid %}" target="_blank">
                                            - Admin <i class="fas fa-up-right-from-square"></i>
                                        </a>
                                    {% endif %}
                                </h3>
                                <h6 class="text-gray-600 fw-light">{{ website_city_label|get_item:website.uuid }}</h6>
                                {% if request.user.is_authenticated and request.user.is_staff %}
                                    <div class="d-inline-block">
                                    {% with scheduling_moderation=scheduling_moderation_by_website|get_item:website.uuid %}
                                        {% if scheduling_moderation %}
                                            {% if scheduling_moderation.category == 'no_source' %}
                                                {% with crawling_moderation=crawling_moderation_by_website|get_item:website.uuid %}
                                                    {% if crawling_moderation %}
                                                        {% if crawling_moderation.category == 'no_response' %}
                                                            <a href="{{ crawling_moderation|get_url }}" class="link-info" target="_blank">
                                                                <span class="border rounded px-2 py-1">Erreur sur le site web {% display_moderation_status_emoji crawling_moderation %}</span>
                                                            </a>
                                                        {% elif crawling_moderation.category == 'no_page' %}
                                                            <a href="{{ crawling_moderation|get_url }}" class="link-info" target="_blank">
                                                                <span class="border rounded px-2 py-1">Pas d’extrait trouvé {% display_moderation_status_emoji crawling_moderation %}</span>
                                                            </a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="{{ scheduling_moderation|get_url }}" class="link-info" target="_blank">
                                                            <span class="border rounded px-2 py-1">Aucune page retenue (cf empty sources) {% display_moderation_status_emoji scheduling_moderation %}</span>
                                                        </a>
                                                    {% endif %}
                                                {% endwith %}
                                            {% elif scheduling_moderation.category == 'no_schedule' %}
                                                <a href="{{ scheduling_moderation|get_url }}" class="link-info" target="_blank">
                                                    <span class="border rounded px-2 py-1">Pas d’horaire extrait {% display_moderation_status_emoji scheduling_moderation %}</span>
                                                </a>
                                            {% elif scheduling_moderation.category == 'unknown_place' %}
                                                <a href="{{ scheduling_moderation|get_url }}" class="link-info" target="_blank">
                                                    <span class="border rounded px-2 py-1">Des lieux inconnus {% display_moderation_status_emoji scheduling_moderation %}</span>
                                                </a>
                                            {% elif scheduling_moderation.category == 'sched_conflict' %}
                                                <a href="{{ scheduling_moderation|get_url }}" class="link-info" target="_blank">
                                                    <span class="border rounded px-2 py-1">Des conflits entre les pages {% display_moderation_status_emoji scheduling_moderation %}</span>
                                                </a>
                                            {% else %}
                                                <a href="{{ scheduling_moderation|get_url }}" class="link-info" target="_blank">
                                                    <span class="border rounded px-2 py-1">Tout a fonctionné {% display_moderation_status_emoji scheduling_moderation %}</span>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                    </div>
                                    <div class="d-inline-block">
                                    {% with validated_schedules_moderation=validated_schedules_moderation_by_website|get_item:website.uuid %}
                                        {% if validated_schedules_moderation %}
                                            {% if validated_schedules_moderation.category == 'schedules_differs' %}
                                                <a href="{{ validated_schedules_moderation|get_url }}" class="link-info" target="_blank">
                                                    <span class="border rounded px-2 py-1">Changement détecté {% display_moderation_status_emoji validated_schedules_moderation %}</span>
                                                </a>
                                            {% else %}
                                                <a href="{{ validated_schedules_moderation|get_url }}" class="link-info" target="_blank">
                                                    <span class="border rounded px-2 py-1">Horaire validé {% display_moderation_status_emoji validated_schedules_moderation %}</span>
                                                </a>
                                            {% endif %}
                                        {% elif website|has_validated_schedules %}
                                            <span class="border rounded px-2 py-1">Site à surveiller 👀</span>
                                        {% else %}
                                            <span class="border rounded px-2 py-1">Site non surveillé 🚫</span>
                                        {% endif %}
                                    {% endwith %}
                                    </div>
                                    {% with pending_scheduling=pending_scheduling_by_website|get_item:website.uuid %}
                                        {% if pending_scheduling %}
                                        <div class="d-inline-block">
                                            <span class="border rounded px-2 py-1">Scheduling en cours ({{ pending_scheduling.status }}) 🌀</span>
                                        </div>
                                        {% endif %}
                                    {% endwith %}
                                    <div class="d-inline-block">
                                        <form method="post" action="{% url 'validate_schedules' website.uuid %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                            <button type="submit" class="btn btn-success">Valider</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            <h3 class="col-md-4 text-md-end">
                                <span class="small"><span class="small">
                                <a class="text-muted small" href="{{ website.home_url }}" target="_blank">{% trans 'goToParishSite' %}
                                    <i class="fas fa-up-right-from-square"></i>
                                </a>
                                </span>
                                </span>
                            </h3>
                        </div>

                        {% include 'partials/website_events.html' %}

                        <div class="churches-container mt-3" data-church-marker-names-json="{{ church_marker_names_json_by_website|get_item:website.uuid }}">
                            <div class="collapsable-header clickable" data-bs-toggle="collapse" data-bs-target="#churches-{{ website.uuid }}" aria-expanded="false">
                                <h6><span class="toggle-symbol collapsed-symbol text-gray-600"></span>Églises et horaires ⛪️</h6>
                            </div>
                            <div id="churches-{{ website.uuid }}" class="collapse">
                                <div class="collapsable-body" data-lazy-load-url="{% url 'website_churches' website.uuid %}">
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="collapsable-header clickable" data-bs-toggle="collapse" data-bs-target="#sources-{{ website.uuid }}" aria-expanded="false">
                                <h6><span class="toggle-symbol collapsed-symbol text-gray-600"></span>Sources 📖</h6>
                            </div>
                            <div id="sources-{{ website.uuid }}" class="collapse">
                                <div class="collapsable-body" data-lazy-load-url="{% url 'website_sources' website.uuid %}">
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            {% if website_events.parsings_have_been_moderated %}
                                <span class="text-success">✅ Source vérifiée.</span> |
                            {% elif website_events.parsings_have_been_moderated == False %}
                                <span class="text-warning">⚠️ Ces horaires n'ont pas encore été vérifiés.</span> |
                            {% endif %}
                            {% for count_and_label in website_reports_count|get_item:website.uuid %}
                                <span data-toggle="tooltip" data-placement="bottom" title="{{ count_and_label.count }} {{ count_and_label.tooltip }}">
                                    {{ count_and_label.label }} {{ count_and_label.count }}
                                </span> |
                            {% endfor %}
                            {% if not website_reports_count|get_item:website.uuid %}
                                <u><a href="{% url 'website_view' website.uuid %}#report-form" rel="nofollow">Donner votre avis.</a></u>
                            {% else %}
                                <u><a href="{% url 'website_view' website.uuid %}#previous-reports" rel="nofollow">Voir les avis.</a></u>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
