# https://citizix.com/how-to-use-ansible-to-install-and-configure-postgres-14-on-ubuntu-20-04/

- name: Update apt repo and cache on Ubuntu box
  apt:
    update_cache: yes
    force_apt_get: yes
  become: true

- name: Upgrade all packages on servers
  apt:
    upgrade: dist
    force_apt_get: yes
  become: true

- name: Install required packages
  apt:
    name:
      - wget
      - acl
      - git
      - nginx
      - libpq-dev
    state: latest
  become: true

- name: copy .inputrc
  template: src=.inputrc dest=~

- name: copy .tmux.conf
  template: src=.tmux.conf dest=~
  notify:
    - reload tmux

- name: Authorize additional_pub_key1
  authorized_key:
    user: "{{ deployer_user }}"
    state: present
    key: "{{ additional_pub_key1 }}"

- name: Add fr-FR locale
  community.general.locale_gen:
    name: fr_FR.UTF-8
    state: present
  become: true

# Install Python 3.13 from deadsnakes PPA
- name: Add deadsnakes PPA for Python 3.13
  apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present
  become: true

- name: Install Python 3.13 and related packages
  apt:
    name:
      - python3.13
      - python3.13-venv
      - python3.13-dev
      - python3-psycopg2
      - python3-pip
      - python3-venv
  become: true

- name: Set Python 3.13 as default
  alternatives:
    name: python3
    link: /usr/bin/python3
    path: /usr/bin/python3.13
  become: true

# Python environment
- name: Create a virtualenv directory
  file: path={{ venv_dir }} state=directory

- name: Ensure venv has pip
  command: "python3 -m ensurepip --upgrade"

- name: Install uv
  pip:    name=uv
          virtualenv={{ venv_dir }}
          virtualenv_command='python3 -m venv'
