{% extends 'layouts/moderation_card.html' %}
{% load display_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='OClocher Matching' %}

    <p>
        <a class="btn btn-tertiary" href="{% url 'admin:fetching_oclochermatching_change' oclocher_matching.uuid %}" target="_blank" role="button">
            Open OClocherMatching admin <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>

    LLM error detail: {{ oclocher_matching.llm_error_detail }}<br>
    LLM matrix: <pre>{{ oclocher_matching.llm_matrix }}</pre><br>

    Church description by id : <pre>{{ church_desc_by_id_json }}</pre><br>
    Location description by id : <pre>{{ location_desc_by_id_json }}</pre><br>

    {% if locations_with_schedules %}
        Locations with schedules :
        {% for location in locations_with_schedules %}
            <pre>ID:{{ location.location_id }}<br>NAME:{{ location.name }}<br>ADDRESS:{{ location.address }}</pre>
        {% endfor %}
    {% endif %}

    {% if moderation.oclocher_organization %}
        Website: {{ moderation.oclocher_organization.website.name }}<br>
        Link: <a href="{% url 'website_view' moderation.oclocher_organization.website.uuid %}" target="_blank">Go to website</a>
            <h4>Parishes</h4>
        {% for parish in moderation.oclocher_organization.website.parishes.all %}
            {% display_parish parish %}
        {% endfor %}
    {% endif %}

    {% include 'moderations/_footer.html' %}
{% endblock card %}
