[flake8]
max-line-length = 100
exclude = attaching/migrations, crawling/migrations, fetching/migrations, front/migrations, scheduling/migrations, registry/migrations, __init__.py, production_settings.py, profiling_settings.py, .venv
ignore = F541, W503