*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env
.python-version

local_static/
profiling_prof_files/

# uv
.venv/

# Direnv
.envrc

# Tach
tach.toml
