# Used to deploy
ansible==8.7.0

# Differs from production
tensorflow==2.18.0

# Used to investigate RAM usage
memory-profiler==0.61.0
matplotlib==3.9.2

# Used to investigate performance
django-silk==5.3.1

# Has to be separated from requirements.txt
# We need to install pytorch with cpu support only (and not gpu)
# pytorch is a requirement of sentence_transformers
# https://github.com/UKPLab/sentence-transformers/issues/1409
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.5.1