# Used to deploy
ansible==8.7.0

# Differs from production
tensorflow==2.18.0

# Used to investigate RAM usage
memory-profiler==0.61.0
matplotlib==3.9.2

# Used to investigate performance
django-silk==5.3.1