##################
# Local settings #
##################

# Postgis on MacOS
# https://stackoverflow.com/questions/67283705/m1-mac-geodjango-gdal-mach-o-but-wrong-architecture
GDAL_LIBRARY_PATH=/opt/homebrew/Cellar/gdal/3.7.2_1/lib/libgdal.dylib
GEOS_LIBRARY_PATH=/opt/homebrew/Cellar/geos/3.12.0/lib/libgeos_c.dylib

# Database
DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_USERNAME=username
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=confessio

#################
# Prod settings #
#################
PROD_DB_PASSWORD=secret
PROD_SECRET_KEY=secret
PROD_LETSENCRYPT_EMAIL=secret
AWS_ACCESS_KEY=secret
AWS_SECRET_KEY=secret

###################
# Common settings #
###################
CONTACT_EMAIL=contact@confessio.fr
ADMIN_EMAIL=admin@confessio.fr