##################
# Local settings #
##################

# Postgis on MacOS
# https://stackoverflow.com/questions/67283705/m1-mac-geodjango-gdal-mach-o-but-wrong-architecture
export GDAL_LIBRARY_PATH=/opt/homebrew/Cellar/gdal/3.7.2_1/lib/libgdal.dylib
export GEOS_LIBRARY_PATH=/opt/homebrew/Cellar/geos/3.12.0/lib/libgeos_c.dylib

# Database
export DB_ENGINE=django.contrib.gis.db.backends.postgis
export DB_USERNAME=confessio
export DB_PASS=
export DB_HOST=127.0.0.1
export DB_PORT=5432
export DB_NAME=confessio
export IP_HASH_SALT=local_salt

#################
# Prod settings #
#################
export PROD_DB_PASSWORD=secret
export PROD_SECRET_KEY=secret
export PROD_IP_HASH_SALT=secret
export PROD_LETSENCRYPT_EMAIL=secret
export PROD_OPENAI_API_KEY=secret
export PROD_GOOGLE_PSE_ID=secret
export PROD_GOOGLE_API_KEY=secret
export PROD_GOOGLE_MAPS_API_KEY=secret
export AWS_ACCESS_KEY=secret
export AWS_SECRET_KEY=secret
export OTEL_BETTER_STACK_SOURCE_TOKEN=secret
export ADDITIONAL_PUB_KEY1="type public name"
export WHITELISTED_IP1="ip whitelisted for remote psql"
export WHITELISTED_USER1="user not counted by request statistics"

###################
# Common settings #
###################
export CONTACT_EMAIL=contact@confessio.fr
export ADMIN_EMAIL=admin@confessio.fr
export OPENAI_API_KEY=secret
export GOOGLE_PSE_ID=secret
export GOOGLE_API_KEY=secret
export GOOGLE_MAPS_API_KEY=secret
export TROUVERUNEMESSE_API_KEY=secret
export TROUVERUNEMESSE_USERNAME=secret
export TROUVERUNEMESSE_PASSWORD=secret
export HEARTBEAT_TROUVERUNEMESSE_URL=secret
export HEARTBEAT_CHECK_CRAWLING_URL=secret
