# Used by django
Django==5.0.8
gunicorn==22.0.0
python-dotenv==1.0.0
whitenoise==6.6.0
django-theme-pixel==1.0.3
django-ses==3.5.2
psycopg2-binary==2.9.6
django-request==1.6.3
django-simple-history==3.7.0

# Used in django admin
django-leaflet==0.29.0

# Used in django app
folium==0.14.0

# Used by scraping
Unidecode==1.3.4
requests==2.32.0
beautifulsoup4==4.9.3
fructose==0.0.11
haversine==2.8.1
scikit-learn==1.5.1
pandas==1.5.1
keras==3.4.1
numpy==1.26.3
tqdm==4.66.3
pgvector==0.3.2

# Used in production
django-dbbackup==4.0.2
django-storages==1.14.2
boto3==1.34.15

# We need to install pytorch with cpu support only (and not gpu)
# pytorch is a requirement of sentence_transformers
# https://github.com/UKPLab/sentence-transformers/issues/1409
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.5.1
