##
# Clone and pull the repo
##

# https://theusmanhaider.medium.com/ansible-clone-private-git-repository-c8a2c9ec8a61
- name: Clone or pull the latest code
  git:
    repo: "{{ code_repository_url }}"
    dest: "{{ app_dir }}"
    accept_hostkey: yes
  become: no
  notify:
    - restart app
    - restart background_main
    - restart background_crawling

- name: Create the .env file
  template: src=env.j2 dest={{ app_dir }}/.env
  become: true
  notify:
    - restart app
    - restart background_main
    - restart background_crawling