{% extends 'layouts/moderation_card.html' %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Sentence' %}
    <p>
        <a class="btn btn-tertiary" href="{% url 'admin:scheduling_sentence_change' sentence.uuid %}" target="_blank" role="button">
            Open sentence admin <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>

    {% if moderation.category == 'ml_mismatch' %}
        Line : {{ sentence.line }}<br>
        Action : {{ sentence.action }}<br>

        {% if moderation.other_action and moderation.other_action != sentence.action %}
            Other action : {{ moderation.other_action }}<br>
        {% endif %}
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% include 'includes/colored_pieces.html' %}
            <input type="hidden" name="update_human_labels" />
            <button type="submit" class="btn btn-warning">Update human labels</button>
        </form>
    {% endif %}

    {% for pruning in sentence.prunings.all %}
        {% if moderation.category == 'ml_mismatch' %}
            <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_v1' pruning.uuid %}" target="_blank" role="button">
            Edit pruning V1 <i class="fas fa-up-right-from-square"></i>
            </a></p>
        {% else %}
            <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_v2' pruning.uuid %}" target="_blank" role="button">
            Edit pruning V2 <i class="fas fa-up-right-from-square"></i>
            </a></p>
        {% endif %}
    {% endfor %}

    {% include 'moderations/_footer.html' %}
{% endblock card %}
