{% extends 'layouts/moderation_card.html' %}
{% load scheduling_tags %}
{% load display_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Parsing' %}
    {% display_parsing_scrapings parsing %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="reparse_parsing" />
        <button type="submit" class="btn btn-warning">Re-parse</button>
    </form>


    Church description by id : <pre>{{ church_desc_by_id_json }}</pre><br>
    Truncated html :
    <div class="moderation-tabs">
      <ul>
        <li><a href="#tabs-nice">Nice display</a></li>
        <li><a href="#tabs-raw">Raw HTML</a></li>
      </ul>
      <div id="tabs-nice">
        {{ truncated_html | safe }}
      </div>
      <div id="tabs-raw">
        <pre>{{ truncated_html }}</pre>
      </div>
    </div>
    {% if llm_schedules_list %}
        Schedules list: <br>
        {% display_schedules_list llm_schedules_list church_desc_by_id_json %}<br>
    {% else %}
       Error detail: {{ parsing.llm_error_detail }}
    {% endif %}
    <br>

    {% if human_schedules_list %}
        <h4>Previously validated schedules list :</h4>
        {% if not llm_schedules_list or human_schedules_list != llm_schedules_list %}
            {% display_schedules_list human_schedules_list church_desc_by_id_json %}<br>
            <div>
                <form action="{% url 'moderate_erase_human_by_llm' moderation.uuid %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn btn-warning">Erase human by llm</button>
                </form>
            </div>
        {% else %}
            <p>Same as current</p>
        {% endif %}
    {% endif %}

    <p><a class="btn btn-black" href="{% url 'edit_parsing' parsing.uuid %}" target="_blank" role="button">
        Edit parsing <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>

    {% include 'moderations/_footer.html' %}
{% endblock card %}
