{% extends 'layouts/moderation_card.html' %}

{% load custom_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Pruning' %}
    {% if parsing_moderation %}
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="related_url" value="{{ parsing_moderation|get_url }}">
            <button type="submit" class="btn {% if parsing_moderation.status == 'validated' %}btn-primary{% else %}btn-success{% endif %}">Validate & related</button>
            </form>
        </div>
    {% endif %}
    {% for scraping in pruning.scrapings.all %}
        <div>Scraping :
            <a href="{{ scraping.url }}" target="_blank">{{ scraping.url }}</a>
            <a class="btn btn-tertiary" style="background-color: darkgreen; border-color: darkgreen;"
                       href="{% url 'admin:registry_website_change' scraping.website.uuid %}" target="_blank" role="button">
            Open website admin <i class="fas fa-up-right-from-square"></i>
            </a>
            <p>
                <a class="link-info" href="{% url 'website_view' scraping.website.uuid %}">{{ scraping.website.name }}</a>
            </p>
        </div>
    {% endfor %}
    {% if human_lines_and_colors and human_lines_and_colors != ml_lines_and_colors %}
        <h3>Human validated pruning</h3>
        <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_human' pruning.uuid %}" target="_blank" role="button">
        Edit human pruning<i class="fas fa-up-right-from-square"></i>
        </a></p>
        {% for line, color, differs in human_lines_and_colors %}
            <div class="{{ color }} {{ differs }}">{{ line|safe }}</div>
        {% endfor %}
    {% endif %}
    {% if v2_lines_and_colors %}
        {% if v2_lines_and_colors != ml_lines_and_colors or v2_lines_and_colors != human_lines_and_colors %}
            <h3>V2 pruning</h3>
            <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_v2' pruning.uuid %}" target="_blank" role="button">
            Edit pruning V2 <i class="fas fa-up-right-from-square"></i>
            </a></p>
            {% for line, color, differs in v2_lines_and_colors %}
                <div class="{{ color }} {{ differs }}">{{ line|safe }}</div>
            {% endfor %}
            <div>
                <form action="{% url 'set_v2_as_human' moderation.uuid %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn btn-warning">Set v2 as human</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
    <h3>V1 pruning</h3>
    <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_v1' pruning.uuid %}" target="_blank" role="button">
        Edit pruning V1 <i class="fas fa-up-right-from-square"></i>
    </a></p>
    {% for line, color, differs in ml_lines_and_colors %}
        <div class="{{ color }} {{ differs }}">{{ line|safe }}</div>
    {% endfor %}

    {% if parsing_moderation %}
        <div>
            <a class="btn {% if parsing_moderation.status == 'validated' %}btn-primary{% else %}btn-success{% endif %}"
                       href="{{ parsing_moderation|get_url }}?backPath={{ moderation|get_url }}" role="button">
                {% if parsing_moderation.status == 'validated' %}View {% endif %}
                Parsing moderation
            </a>
        </div>
    {% endif %}

    {% include 'moderations/_footer.html' %}
{% endblock card %}
