{% extends 'layouts/moderation_card.html' %}
{% load scheduling_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Validated Schedules' %}
    {% include 'moderations/_validate_next.html' %}

    Website: {{ website.name }}<br>
    Link: <a href="{% url 'website_view' website.uuid %}" target="_blank">Go to website</a>

    <pre>{{ printable_diff }}</pre><br>

    {% include 'moderations/_mark_as_bug.html' %}
    {% include 'moderations/_delete.html' %}
{% endblock card %}
