{% load static %}
{% load i18n %}
{% load custom_tags %}

<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark navbar-theme-secondary">
        <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="{% url 'index' %}">
                <img class="navbar-brand-dark" src="{% static 'assets/img/logo-light-white.svg' %}" alt="Logo light">
                <img class="navbar-brand-light" src="{% static 'assets/img/logo-dark-blue.svg' %}" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets/img/logo-dark-blue.svg' %}" alt="Confessio logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-center ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link">{% trans 'navContact' %}</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="nav-link">{% trans 'navLogout' %}</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-link">{% trans 'navLogin' %}</a>
                        {% endif %}
                    </li>
                    {% if request.user.is_authenticated and perms.home.change_sentence %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'moderationMenu' %}
                            <i class="fas fa-angle-down nav-link-arrow ml-2"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul class="list-style-none">
                                    {% get_moderation_stats as moderation_stats %}
                                    {% for moderation_stat in moderation_stats %}
                                        <li><a class="dropdown-item" href="{{ moderation_stat|get_item:'url' }}">{{ moderation_stat|get_item:'resource' }} {{ moderation_stat|get_item:'category' }}{% if moderation_stat|get_item:'is_bug' %} <span class="badge badge-danger m-1">Bug</span>{% endif %} {{ moderation_stat|get_item:'total' }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ml-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>