{% load custom_tags %}
{% load i18n %}

<div class="row mt-5" id="{{ website.uuid }}">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body px-md-5 py-md-5 text-left">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row mb-3">
                            <h3 class="col-md-8">
                                <a class="link-info"
                                    href="{% url 'index' %}?websiteUuid={{ website.uuid }}">
                                    {{ website.name }}
                                </a>
                                {% if request.user.is_authenticated and request.user.is_staff %}
                                    <a class="text-muted small" href="{% url 'admin:home_website_change' website.uuid %}" target="_blank">
                                        - Admin <i class="fas fa-up-right-from-square"></i>
                                    </a>
                                {% endif %}
                            </h3>
                            <h3 class="col-md-4 text-md-end">
                                <span class="small"><span class="small">
                                <a class="text-muted small" href="{{ website.home_url }}" target="_blank">{% trans 'goToParishSite' %}
                                    <i class="fas fa-up-right-from-square"></i>
                                </a>
                                </span></span>
                            </h3>
                        </div>
                        {% for church in website_churches|get_item:website.uuid %}
                            <div class="row">
                                <p class="col-md-9">
                                    <span class="fw-bold">{{ church.name }}</span>
                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                        <a class="text-muted" href="{% url 'admin:home_church_change' church.uuid %}" target="_blank">
                                            - Admin <i class="fas fa-up-right-from-square"></i>
                                        </a>
                                    {% endif %}
                                    <br>
                                    <span class="text-muted">{{ church.address }} {{ church.zipcode }} {{ church.city }}</span>
                                </p>
                                <p class="col-md-3">
                                    <a href="#map"
                                       class="link-info"
                                       onclick="return popupChurch('{{ church_marker_names|get_item:church.uuid }}');">
                                        {% trans 'locateOnMap' %}
                                    </a>
                                </p>
                            </div>
                        {% endfor %}
                        {% if website.has_been_parsed %}
                            <div class="schedules-sources-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a class="nav-link" href="#tab-schedules-{{ website.uuid }}">Dates</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab-sources-{{ website.uuid }}">Sources</a></li>
                                </ul>
                                <div id="tab-schedules-{{ website.uuid }}">
                                    {% with church_schedules_list=website|get_church_schedules_list %}
                                        {% for church_event in church_schedules_list.get_church_events %}
                                            <p>{{ church_event.church.name }}:
                                                {{ church_event.event.start }} - {{ church_event.event.end }}</p>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                                <div id="tab-sources-{{ website.uuid }}">
                                    {% include 'includes/website_sources.html' %}
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-0">
                                {% include 'includes/website_sources.html' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>