{% load custom_tags %}
{% load i18n %}

{% if website.unreliability_reason %}
    <div>
        Nous regrettons de ne pouvoir afficher les horaires de cette paroisse pour des raisons techniques.
    </div>
{% else %}
    <div>
        {% if merged_schedules_list.church_events_by_day %}
            <h6>Prochaines confessions :</h6>
            <div class="row text-center mt-1 calendar-table-container">
                <div class="col-1 align-self-center">
                    <span class="previous-button clickable d-none">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </div>
                <div class="col-10">
                    {% for range_num in "12"|make_list %}
                        {% with days=merged_schedules_list|days_of_range:range_num %}
                            {% include 'includes/schedules_table.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="col-1 align-self-center">
                    <span class="next-button clickable">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
            </div>
        {% elif not website.has_been_crawled %}
            {% trans 'NotCrawledYet' %}
        {% else %}
            Pas de prochaines dates.
        {% endif %}
    </div>
{% endif %}