{% load custom_tags %}
{% load display_tags %}
{% load i18n %}

{% if website.one_page_has_confessions %}
    {% for page in website.get_pages %}
        {% if page.has_confessions %}
            {% for pruning in page.temp_scraping.prunings.all %}
                <div class="row mt-3 mb-2">
                    <div class="col-md-9 lead">
                        {% blocktrans with url=page_pruning_urls|get_item:page.uuid|get_item:pruning.uuid %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
                        {% if page.has_been_modified_recently %}
                            <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom"
                                    title="Contenu modifié le {{ page.temp_scraping.created_at|date:"d M" }}">
                                À jour
                            </button>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if request.user.is_authenticated and perms.home.change_sentence %}
                            <div class="row">
                                {% with unvalidated_pruning_moderation=pruning|get_unvalidated_pruning_moderation %}
                                    {% if unvalidated_pruning_moderation %}
                                        <div class="col-xl-6">
                                            <a href="{{ unvalidated_pruning_moderation|get_url }}" class="link-info">
                                                <i class="fas fa-tags"></i> Valider
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-xl-6">
                                            <a href="{% url 'edit_pruning' pruning.uuid %}" class="link-info"><i class="fas fa-tags"></i> {% trans 'EditPruning' %}</a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <div class="col-xl-6">
                                    {% with parsing=page|get_page_parsing_of_pruning:pruning %}
                                        {% if parsing %}
                                            {% for parsing_moderation in parsing.moderations.all %}
                                                <a href="{{ parsing_moderation|get_url }}" class="link-info">
                                                    <i class="fas fa-code"></i> Modérer
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    {% display_expandable_pruning pruning %}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% elif not website.has_been_crawled %}
    {% trans 'NotCrawledYet' %}
{% else %}
    {% trans 'NoConfessionFound' %}
{% endif %}