{% load custom_tags %}
{% load i18n %}

{% if website.unreliability_reason %}
    <div>
        Nous regrettons de ne pouvoir afficher les horaires de cette paroisse pour des raisons techniques.
    </div>
{% else %}
    <div>
        {% if merged_schedules_list.church_events_by_day %}
            <h6>Prochaines confessions :</h6>
            <div class="row text-center mt-1 calendar-table-container">
            {% if merged_schedules_list.page_range == "12" %}
                <div class="col-1 align-self-center mx-0 px-0">
                    <span class="previous-button clickable d-none">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </div>
                {% endif %}
                <div class="{% if merged_schedules_list.page_range == "12" %}col-10{% else %}col-12{% endif %} mx-0 px-0">
                    {% for range_num in merged_schedules_list.page_range|make_list %}
                        {% with days=merged_schedules_list|days_of_range:range_num %}
                            {% include 'includes/schedules_table.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
                {% if merged_schedules_list.page_range == "12" %}
                    <div class="col-1 align-self-center mx-0 px-0">
                        <span class="next-button clickable">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </div>
                {% endif %}
            </div>
            {% if merged_schedules_list.display_explicit_other_churches %}
                <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                    <span class="alert-inner--text">⚠️ Attention certains horaires ont lieu en dehors de cette paroisse, lire les détails dans les sources.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if merged_schedules_list.has_unknown_churches %}
                <div class="alert alert-gray-500 alert-dismissible fade show mt-3" role="alert">
                    <span class="alert-inner--text">❔ Certains horaires ne spécifient pas explicitement le lieu de la confession, consulter le site de la paroisse.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% elif not website.has_been_crawled %}
            {% trans 'NotCrawledYet' %}
        {% else %}
            Pas de prochaines dates.
        {% endif %}
    </div>
{% endif %}