{% load custom_tags %}
{% load display_tags %}
{% load i18n %}

{% with merged_schedules_list=website_merged_church_schedules_list|get_item:website.uuid %}
<div class="row mt-4 website-card{% if not merged_schedules_list.display_explicit_other_churches %} hide-explicitly-other{% endif %}" id="{{ website.uuid }}">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body px-3 py-3 px-md-5 py-md-5 text-left">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row mb-1">
                            <h3 class="col-md-8">
                                <a class="text-tertiary"
                                    href="{% url 'website_view' website.uuid %}">
                                    {{ website.name }}
                                </a>
                                {% if request.user.is_authenticated and request.user.is_staff %}
                                    <a class="text-muted small" href="{% url 'admin:home_website_change' website.uuid %}" target="_blank">
                                        - Admin <i class="fas fa-up-right-from-square"></i>
                                    </a>
                                {% endif %}
                            </h3>
                            <h3 class="col-md-4 text-md-end">
                                <span class="small"><span class="small">
                                <a class="text-muted small" href="{{ website.home_url }}" target="_blank">{% trans 'goToParishSite' %}
                                    <i class="fas fa-up-right-from-square"></i>
                                </a>
                                </span></span>
                            </h3>
                        </div>

                        {% include 'includes/website_schedules.html' %}

                        <div class="mt-3">
                            <div class="collapsable-header clickable" data-bs-toggle="collapse" data-bs-target="#churches-{{ website.uuid }}" aria-expanded="false">
                                <h6><span class="toggle-symbol collapsed-symbol text-gray-600"></span>Églises et horaires ⛪️</h6>
                            </div>
                            <div id="churches-{{ website.uuid }}" class="collapse">
                                <div class="collapsable-body">
                                    {% include 'includes/website_churches.html' %}
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="collapsable-header clickable" data-bs-toggle="collapse" data-bs-target="#sources-{{ website.uuid }}" aria-expanded="false">
                                <h6><span class="toggle-symbol collapsed-symbol text-gray-600"></span>Sources 📖</h6>
                            </div>
                            <div id="sources-{{ website.uuid }}" class="collapse">
                                <div class="collapsable-body" data-lazy-load-url="{% url 'website_sources' website.uuid %}">
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            {% if not website.unreliability_reason %}
                                {% if merged_schedules_list.parsings_have_been_moderated %}
                                    <span class="text-success">✅ Source vérifiée.</span>
                                {% else %}
                                    <span class="text-warning">⚠️ Ces horaires n'ont pas encore été vérifiés.</span>
                                {% endif %}
                            {% endif %}
                            {% for count_and_label in website_reports_count|get_item:website.uuid %}
                                | <span data-toggle="tooltip" data-placement="bottom" title="{{ count_and_label.count }} {{ count_and_label.tooltip }}">
                                    {{ count_and_label.label }} {{ count_and_label.count }}
                                </span>
                            {% endfor %}
                            {% if not is_website_page %}
                                <u><a href="{% url 'website_view' website.uuid %}#report-form" rel="nofollow">Donner votre avis.</a></u>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
