{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        <!-- Hero -->
        <section class="section-header bg-secondary text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-9 col-lg-8 text-center text-md-left">
                        <h1 class="display-2 mb-4">Des horaires de sacrements<br class="d-none d-md-inline"> à jour grâce à l'IA !</h1>
                        <p class="lead mb-4 text-muted">Confessio extrait les horaires de confession, et bientôt plus, directement depuis les sites web des paroisses. Cela est rendu possible grâce à l'intelligence artificielle.</p>
                        <a href="{% url 'index' %}" class="btn btn-tertiary me-3 animate-up-2">Voir les confessions autour de moi<span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                    </div>
                  <div class="col-12 col-md-3 col-lg-4 d-none d-md-block text-center p-lg-4"><img src="{% static 'assets/img/confessio_graph.svg' %}" alt=""></div>
               </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="organic-radius img-fluid" src="{% static 'assets/img/S4-E2-Confessions-The-Chosen.png' %}" alt="Confessions - The Chosen">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-5">Nos 7 engagements</h2>
                        <p class="lead"><span class="fw-bold">Renforcer</span> la maîtrise des paroisses sur leurs propres horaires en n'affichant que ce qui est visible sur leur site web.</p>
                        <p class="lead"><span class="fw-bold">Sourcer</span> systématiquement les horaires pour permettre de vérifier leur provenance.</p>
                        <p class="lead"><span class="fw-bold">Automatiser</span> la collecte des horaires afin qu'ils soient à jour sur l'ensemble du territoire.</p>
                        <p class="lead"><span class="fw-bold">Contrôler</span> la qualité des données dans une démarche d'amélioration continue.</p>
                        <p class="lead"><span class="fw-bold">Collecter</span> les retours des utilisateurs et mettre tout en œuvre pour corriger les bugs.</p>
                        <p class="lead"><span class="fw-bold">Partager</span> largement et gratuitement les <a href="{% url 'main_api:openapi-view' %}">données</a> afin de promouvoir d'autres services liés aux sacrements.</p>
                        <p class="lead"><span class="fw-bold">Publier</span> le <a href="https://github.com/etiennecallies/confessio">code</a> en totale transparence en espérant faire émerger une tech collaborative, ouverte et missionnaire.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-center mt-5">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-church"></span>
                            </div>
                            <h3 class="h5">Diocèses de France<br>opérés par Confessio</h3>
                            <span class="counter display-3 text-gray d-block">{{ diocese_count }} / 100</span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center mt-5">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-globe"></span>
                            </div>
                            <h3 class="h5">Sites paroissiaux analysés quotidiennement</h3>
                            <span class="counter display-3 text-gray d-block">{{ website_count }}</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center mt-5">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-calendar-days"></span>
                            </div>
                            <h3 class="h5">Horaires de confession<br>cette semaine</h3>
                            <span class="counter display-3 text-gray d-block">{{ church_index_events_count }}</span>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg bg-gray-200">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h2 class="h1 fw-light"><span class="fw-bold">Notre</span> histoire</h2>
                    </div>
                </div>
                <div class="row justify-content-center mt-6">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-8">
                            <div class="timeline timeline-one dark px-3 px-sm-0">
                                <!-- Timeline Item 1 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">L'idée du web-scraping 🤔</h3>
                                    <p>L'idée de Confessio a émergé lors du passage d'Etienne chez Hozana en 2018, où, au cours d'un HozanHackathon, il a été question d'une base de données open-data d'horaires de paroisses (messes, confessions), réflexion qui à l'époque avait donné naissance à <a href="https://open-church.io/">Open&#8209;Church</a>.<br>
                                        Comment collecter la donnée automatiquement ? Il faudrait un robot qui puisse visiter les sites web des paroisses et en extraire les horaires. Mais comment gérer les horaires écrits en langage naturel, ou bien dans des tableaux voire des images ?<br>
                                    </p>
                                </div>
                                <!-- Timeline Item 2 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Premières lignes de code 🧑‍💻</h3>
                                    <div>
                                        <img class="me-2" src="{% static 'assets/img/logo/django-logo.svg' %}" alt="Django" style="height: 1em">
                                        <img class="me-2" src="{% static 'assets/img/logo/postgresql-logo.svg' %}" alt="PostgreSQL" style="height: 1em">
                                        <img class="me-2" src="{% static 'assets/img/logo/openai-logo.svg' %}" alt="OpenAI" style="height: 1em">
                                    </div>
                                    <p>Quelques années plus tard, c’est l’émergence des modèles de langage (LLM) qui a rendu possible le développement technique du projet. La première ligne de
                                        <a href="https://github.com/etiennecallies/confessio">code</a> de Confessio a ainsi été écrite en janvier 2023, marquant le début d’une aventure enthousiaste mais non moins rigoureuse et innovante !
                                    </p>
                                </div>
                                <!-- Timeline Item 3 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-2">Confessio en prod 🚀</h3>
                                    <img src="{% static 'assets/img/logo-dark-blue.svg' %}" alt="Logo de Confessio" width="80">
                                    <p>Après un an de mise au point des premiers algorithmes, en janvier 2024, Confessio est lancé sur internet sous le nom de domaine <a href="https://confessio.fr">confessio.fr</a></p>
                                </div>
                                <!-- Timeline Item 4 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Soutien d'Hozana et arrivée de Pierre 🔥</h3>
                                    <img src="{% static 'assets/img/hozana-logo.png' %}" alt="Hozana" width="120">
                                    <p>En juin 2025, l’association <a href="https://www.hozana.org/">Hozana</a>, qui a pour mission de promouvoir la prière et la vie spirituelle en ligne, devient sponsor de Confessio, afin d'accélérer son développement et sa diffusion. <a href="https://github.com/DarkPitoune">Pierre</a>, un développeur talentueux rejoint <a href="http://github.com/etiennecallies">Etienne</a> pour réinventer l'expérience utilisateur et propulser le frontend vers une nouvelle ère.</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
        </section>
        <!-- Section -->
        <section class="section section-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2> 🫵 La suite de l'aventure Confessio s'écrit avec vous !</h2>
                                <p>N'hésitez surtout pas à <a href="{% url 'contact' %}">nous contacter</a>.</p>
                            </div>
                        </div>
                        <!-- End of Contact Card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
    </main>

    {% endblock content %}
