{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'contactPageTitle' %}{% endblock title %}
{% block seo_title %}{% trans 'contactPageTitle' %}{% endblock seo_title %}

{% block content %}
    <main>
        <!-- Hero -->
        <section class="section section-header pt-5 pb-5 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2">{% trans 'contactUs' %}</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section -->
        <section class="section section-lg pt-2 pb-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>{% trans 'contactTitle' %}</h2>
                                <p>{% trans 'contactSubTitle' %}</p>
                            </div>
                            <div class="card-body px-0 pt-0">
                                {% if message == 'success' %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <span class="alert-inner--icon"><i class="far fa-thumbs-up"></i></span>
                                        <span class="alert-inner--text"><strong>{% trans 'contactSuccessStrong' %}</strong> {% trans 'contactSuccess' %}</span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% elif message == 'failure' %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <span class="alert-inner--icon"><i class="fas fa-fire"></i></span>
                                        <span class="alert-inner--text"><strong>{% trans 'contactFailureStrong' %}</strong> {% trans 'contactFailure' %}</span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <form action="{% url 'contact' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="name">Votre nom</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                            <input type="text" class="form-control" placeholder="e.g. Thérèse Martin" id="name" name="name" required>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="email">Votre email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                            <input type="email" class="form-control" placeholder="therese.martin@gmail.com" id="email" name="email" required>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="message">Votre message</label>
                                        <textarea placeholder="Votre message" class="form-control" id="message" name="message" rows="4" required></textarea>
                                    </div>

                                    <div class="mb-4">
                                        <label for="captcha">Votre humanité</label>
                                        <div>
                                            {{ form.captcha }}  <!-- Captcha field -->
                                        </div>
                                    </div>

                                    <div class="d-grid">
                                        <button type="submit" class="btn rounded btn-secondary">Send message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End of Contact Card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
    </main>

{% endblock content %}
