{% extends 'layouts/single_card.html' %}
{% load static %}

{% load i18n %}

{% block card %}

    <div class="col-12">
        {% for scraping in pruning.scrapings.all %}
            <h2 class="mb-3">
                <a class="link-info"
                    href="{{ scraping.page.website.home_url }}">
                    {{ scraping.page.website.name }}
                </a>
            </h2>
            <p class="col-md-9 lead">
                {% blocktrans with url=scraping.page.url %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
            </p>
        {% endfor %}
        <form action="{% url 'edit_pruning_v2' pruning.uuid %}" method="post">
            {% csrf_token %}
            {% for colored_piece in colored_pieces %}
                <div class="row mb-2">
                    <div class="col-md-5 {{ colored_piece.color }}">
                        {{ colored_piece.text|safe }}
                        <input type="hidden" name="sentence-uuid-{{ colored_piece.id }}"
                                   value="{{ colored_piece.sentence_uuid }}">
                    </div>
                    <div class="col-md-3 text-md-center">
                        {% for tag in colored_piece.tags %}
                            <input type="checkbox" class="btn-check"
                                   id="{{ tag.name }}-{{ colored_piece.id }}"
                                   name="{{ tag.name }}-{{ colored_piece.id }}" {{ tag.checked|yesno:"checked," }} autocomplete="off">
                            <label class="btn btn-outline-{{ tag.color }}" for="{{ tag.name }}-{{ colored_piece.id }}">{{ tag.name }}</label>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 text-end text-md-center">
                        {% for event_motion, event_motion_color in event_motion_colors.items %}
                            <input type="radio" class="btn-check"
                                   id="{{ event_motion.value }}-{{ colored_piece.id }}"
                                   name="event_motion-{{ colored_piece.id }}"
                                   value="{{ event_motion.value }}"
                                {% if colored_piece.event_motion == event_motion %}checked{% endif %}
                                autocomplete="off">
                            <label class="btn btn-fixed-outline-{{ event_motion_color }}"
                                   for="{{ event_motion.value }}-{{ colored_piece.id }}">{{ event_motion.value }}</label>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>

{% endblock card %}