{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block content %}

<main>
  <!-- Hero -->
  <section class="section-header overflow-hidden pt-5 pb-5 bg-primary">
    <div class="container">
        <div class="row text-white justify-content-center">
            <div class="col-12 col-md-12 text-center">
                <h1 class="display-2">{% trans 'confessioTitle' %}</h1>
                <p>{% trans 'confessioDescription' %}</p>
            </div>
        </div>
        <div class="row text-white mb-3">
            <div class="col-12">
                <form id="search-form">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control"
                                   type="text"
                                   id="search-input"
                                   name="location"
                                   placeholder="{% trans 'searchPlaceHolder' %}"
                                   value="{{ location }}"
                                   data-autocomplete-url="{% url 'autocomplete' %}"
                                   >
                            <input type="hidden" id="latitude-input" name="latitude">
                            <input type="hidden" id="longitude-input" name="longitude">
                            <input type="hidden" id="website-uuid-input" name="websiteUuid">
                            <button type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if too_many_results %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fas fa-face-grin-beam-sweat"></i></span>
                <span class="alert-inner--text"><strong>{% trans 'tooManyResultsStrong' %}</strong> {% trans 'tooManyResults' %}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="row text-white mb-3 text-center">
            <div class="col-sm">
                <form id="search-in-this-area-form">
                    <div class="form-group">
                        <input type="hidden" id="min-lat-input" name="minLat">
                        <input type="hidden" id="min-lng-input" name="minLng">
                        <input type="hidden" id="max-lat-input" name="maxLat">
                        <input type="hidden" id="max-lng-input" name="maxLng">
                        <button type="submit" class="btn btn-tertiary" style="visibility: hidden" id="search-in-this-area-btn">{% trans 'searchInThisArea' %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-12 text-center" id="map">
                {{ map_html|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left">
                {% for website in websites %}
                    <div class="row mt-5" id="{{ website.uuid }}">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-body px-md-5 py-md-5 text-left">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <div class="row mb-3">
                                                <h3 class="col-md-8">
                                                    <a class="link-info"
                                                        href="{% url 'index' %}?websiteUuid={{ website.uuid }}">
                                                        {{ website.name }}
                                                    </a>
                                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                                        <a class="text-muted small" href="{% url 'admin:home_website_change' website.uuid %}" target="_blank">
                                                            - Admin <i class="fas fa-up-right-from-square"></i>
                                                        </a>
                                                    {% endif %}
                                                </h3>
                                                <h3 class="col-md-4 text-md-end">
                                                    <span class="small"><span class="small">
                                                    <a class="text-muted small" href="{{ website.home_url }}" target="_blank">{% trans 'goToParishSite' %}
                                                        <i class="fas fa-up-right-from-square"></i>
                                                    </a>
                                                    </span></span>
                                                </h3>
                                            </div>
                                            {% for church in website_churches|get_item:website.uuid %}
                                                <div class="row">
                                                    <p class="col-md-9">
                                                        <span class="fw-bold">{{ church.name }}</span>
                                                        {% if request.user.is_authenticated and request.user.is_staff %}
                                                            <a class="text-muted" href="{% url 'admin:home_church_change' church.uuid %}" target="_blank">
                                                                - Admin <i class="fas fa-up-right-from-square"></i>
                                                            </a>
                                                        {% endif %}
                                                        <br>
                                                        <span class="text-muted">{{ church.address }} {{ church.zipcode }} {{ church.city }}</span>
                                                    </p>
                                                    <p class="col-md-3">
                                                        <a href="#map"
                                                           class="link-info"
                                                           onclick="return popupChurch('{{ church_marker_names|get_item:church.uuid }}');">
                                                            {% trans 'locateOnMap' %}
                                                        </a>
                                                    </p>
                                                </div>
                                            {% endfor %}
                                            <div class="mb-0">
                                                {% if website.one_page_has_confessions %}
                                                    {% for page in website.get_pages %}
                                                        {% if page.has_confessions %}
                                                            <div class="row mt-3 mb-1">
                                                                <p class="col-md-9 lead">
                                                                    {% blocktrans with url=page_urls|get_item:page.uuid %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
                                                                </p>
                                                                <p class="col-md-3">
                                                                    {% if request.user.is_authenticated and perms.home.change_sentence %}
                                                                        <a href="{% url 'qualify_page' page.uuid %}" class="link-info"><i class="fas fa-tags"></i> {% trans 'QualifyPage' %}</a>
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                            <div>
                                                                {{ page.get_latest_scraping.confession_html_pruned|safe }}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif not website.has_been_crawled %}
                                                    {% trans 'NotCrawledYet' %}
                                                {% else %}
                                                    {% trans 'NoConfessionFound' %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </section>
</main>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/index2.js' %}"></script>
{% endblock javascripts %}