{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}
  {% load i18n %}

  <!-- Hero -->
  <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary">
    <div class="container">
        <div class="row text-white">
            <div class="col-12">
                <div class="form-group">
                    <div class="input-group mb-4">
                        <input class="form-control"
                               type="text"
                               id="search-input"
                               placeholder="{% trans 'searchPlaceHolder' %}">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <div class="address-feedback position-absolute list-group text-black bg-white" style="z-index:1100;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row text-white">
        <div class="col-12 text-center" id="map">
          {{ map_html|safe }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-left">
            {% for parish in parishes %}
                <div class="row mt-5" id="{{ parish.uuid }}">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body px-5 py-5 text-center text-md-left">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h2 class="mb-3">
                                            <a class="link-info"
                                                href="{{ parish.home_url }}">
                                                {{ parish.name }}
                                            </a>
                                        </h2>
                                        {% for church in parish_churches|get_item:parish.uuid %}
                                            <div class="row">
                                                <p class="col-md-9">
                                                    <span class="fw-bold">{{ church.name }}</span><br>
                                                    <span class="text-muted">{{ church.address }} {{ church.zipcode }} {{ church.city }}</span>
                                                </p>
                                                <p class="col-md-3">
                                                    <a href="#map"
                                                       class="link-info"
                                                       onclick="return popupChurch('{{ church_marker_names|get_item:church.uuid }}');">
                                                        {% trans 'locateOnMap' %}
                                                    </a>
                                                </p>
                                            </div>
                                        {% endfor %}
                                        <div class="mb-0">
                                            {% if parish.has_pages %}
                                                {% for page in parish.get_pages %}
                                                    {% if page.has_confessions %}
                                                        {% blocktrans with url=page.url %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
                                                        <p>
                                                            <iframe srcdoc="{{ page.get_latest_scraping.confession_html }}"
                                                                    style="height: 300px"
                                                                    class="col-12">
                                                            </iframe>
                                                        </p>
                                                    {% elif not page.has_been_scraped %}
                                                        <p>
                                                            {% blocktrans with url=page.url %}PageNotScrapedYet {{ url }}{% endblocktrans %}
                                                        </p>
                                                    {% elif not page.has_confessions %}
                                                        <p>
                                                            {% blocktrans with url=page.url %}NoConfessionFoundPage {{ url }}{% endblocktrans %}
                                                        </p>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% trans 'NotScrapedYet' %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock javascripts %}