{% extends 'layouts/single_card.html' %}

{% load display_tags %}

{% block card %}
    <h2 class="mb-3">
        Church: {{ church_moderation.get_category_display }}
    </h2>
    {% if church_moderation.bug_description %}
        <p>Bug description : {{ church_moderation.bug_description }}</p>
    {% endif %}

    {% display_church church %}
    {% display_parish church.parish %}

    {% if church_moderation.name and church.name != church_moderation.name %}
        <div>Other name : {{ church_moderation.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_name" />
                <button type="submit" class="btn btn-warning">Replace name</button>
            </form>
        </div>
    {% endif %}
    {% if church_moderation.location_desc_differs %}
        <div>Other location desc:
            <form method="post">
                {% csrf_token %}
                <div>
                    {% if church_moderation.location != church.location %}
                        <label>
                            <input type="checkbox" name="replace_location">
                            Location : {% display_location church_moderation.location %}
                        </label>
                    {% else %}
                        Same location
                    {% endif %}
                </div>
                <div>
                    {% if church_moderation.address != church.address %}
                        <label>
                            <input type="checkbox" name="replace_address">
                            Address : {{ church_moderation.address }}
                        </label>
                    {% else %}
                        Same address
                    {% endif %}
                </div>
                <div>
                    {% if church_moderation.zipcode != church.zipcode %}
                        <label>
                            <input type="checkbox" name="replace_zipcode">
                            Zipcode : {{ church_moderation.zipcode }}
                        </label>
                    {% else %}
                        Same zipcode
                    {% endif %}
                </div>
                <div>
                    {% if church_moderation.city != church.city %}
                        <label>
                            <input type="checkbox" name="replace_city">
                            City : {{ church_moderation.city }}
                        </label>
                    {% else %}
                        Same city
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-warning">Replace selected items</button>
            </form>
        </div>
    {% endif %}
    {% if church_moderation.parish %}
        <div>Other parish : {% display_parish church_moderation.parish %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_parish" />
                <button type="submit" class="btn btn-warning">Replace parish</button>
            </form>
        </div>
    {% endif %}

    {% for similar_church in church_moderation.similar_churches.all %}
        <div>
            Similar church {{ forloop.counter }} : {% display_church similar_church %}
            {% display_parish similar_church.parish %}
            <form method="post">
                {% csrf_token %}
                    <input type="hidden" name="assign_external_id" value="{{ similar_church.uuid }}" />
                <button type="submit" class="btn btn-warning">Assign external id</button>
            </form>
        </div>
    {% endfor %}

    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
    {% if not church_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
{% endblock card %}