{% extends 'layouts/moderation_card.html' %}
{% load display_tags %}

{% block card %}
    <h2 class="mb-3">
        Parsing: {{ parsing_moderation.get_category_display }}
    </h2>
    {% if parsing_moderation.bug_description %}
        <p>Bug description : {{ parsing_moderation.bug_description }}</p>
    {% endif %}
    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
    <p>
        <a class="btn btn-tertiary" href="{% url 'admin:home_parsing_change' parsing.uuid %}" target="_blank" role="button">
            Open parsing admin <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>
    {% for scraping in parsing.pruning.scrapings.all %}
        <p>Scraping page: <a href="{{ scraping.page.url }}" target="_blank">{{ scraping.page.url }}</a></p>
    {% endfor %}
    <p><a class="btn btn-gray-500" href="{% url 'edit_pruning' parsing.pruning.uuid %}" target="_blank" role="button">
        Edit pruning <i class="fas fa-up-right-from-square"></i>
    </a></p>

    Church description by id : <pre>{{ church_desc_by_id_json }}</pre><br>
    Truncated html :
    <div class="moderation-tabs">
      <ul>
        <li><a href="#tabs-nice">Nice display</a></li>
        <li><a href="#tabs-raw">Raw HTML</a></li>
      </ul>
      <div id="tabs-nice">
        {{ truncated_html | safe }}
      </div>
      <div id="tabs-raw">
        <pre>{{ truncated_html }}</pre>
      </div>
    </div>
    {% if schedules_list %}
        Schedules list: <br>
        {% display_schedules_list schedules_list %}<br>
    {% else %}
       Error detail: {{ parsing.error_detail }}
    {% endif %}
    <br>

    {% if validated_schedules_list %}
        <h4>Previously validated schedules list :</h4>
        {% if validated_schedules_list != schedules_list %}
            {% display_schedules_list validated_schedules_list %}<br>
            <div>
                <form action="{% url 'moderate_reset_validated_parsing' parsing_moderation.uuid %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn btn-warning">Reset to validated</button>
                </form>
            </div>
        {% else %}
            <p>Same as current</p>
        {% endif %}
    {% endif %}

    {% if not parsing_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation</button>
        </form>
    </div>
{% endblock card %}