{% extends 'layouts/single_card.html' %}

{% block card %}
    <h2 class="mb-3">
        Parish: {{ parish_moderation.get_category_display }}
    </h2>
    {% if parish_moderation.bug_description %}
        <p>Bug description : {{ parish_moderation.bug_description }}</p>
    {% endif %}
    <p><a class="btn btn-primary" href="{% url 'admin:home_parish_change' parish.uuid %}" target="_blank" role="button">
        Open admin <i class="fas fa-up-right-from-square"></i>
    </a></p>
    <p>Name : {{ parish_moderation.name }}</p>
    {% if parish.name != parish_moderation.name %}
        <p>New name : {{ parish.name }}</p>
    {% endif %}
    <p>Home url : <a href="{{ parish_moderation.home_url }}" target="_blank">{{ parish_moderation.home_url }}</a></p>
    {% if parish.home_url != parish_moderation.home_url %}
        <p>New home url : <a href="{{ parish.home_url }}" target="_blank">{{ parish.home_url }}</a></p>
    {% endif %}
    {% if parish_moderation.other_parish %}
        <p>Conflicting with parish {{ parish_moderation.other_parish.name }}
            <a class="btn btn-primary" href="{% url 'admin:home_parish_change' parish_moderation.other_parish.uuid %}" target="_blank" role="button">
        Open admin <i class="fas fa-up-right-from-square"></i>
    </a></p>
    {% endif %}
    {% if latest_crawling %}
        <h3>Latest crawling</h3>
        <p>Date : {{ latest_crawling.created_at }}</p>
        <p>Nb visited links : {{ latest_crawling.nb_visited_links }}</p>
        <p>Nb success links : {{ latest_crawling.nb_success_links }}</p>
        <p>Error detail : {{ latest_crawling.error_detail }}</p>
    {% endif %}
    <h3>Churches</h3>
    {% for church in parish.churches.all %}
        <h5>{{ church.name }} ({{ church.messesinfo_id }})</h5>
        <p>City : {{ church.city }}
            <a class="btn btn-primary" href="{% url 'admin:home_church_change' church.uuid %}" target="_blank" role="button">
                Open admin <i class="fas fa-up-right-from-square"></i>
            </a>
        </p>
    {% endfor %}
    {% if parish_moderation.other_parish %}
        <h3>Churches of {{ parish_moderation.other_parish.name }}</h3>
        {% for church in parish_moderation.other_parish.churches.all %}
            <h5>{{ church.name }} ({{ church.messesinfo_id }})</h5>
            <p>City : {{ church.city }}
                <a class="btn btn-primary" href="{% url 'admin:home_church_change' church.uuid %}" target="_blank" role="button">
                    Open admin <i class="fas fa-up-right-from-square"></i>
                </a>
            </p>
        {% endfor %}
    {% endif %}

    <h3>Parish sources</h3>
    {% for source in parish.sources.all %}
        <h5>{{ source.name }}</h5>
        <p>{{ source.messesinfo_community_id }}</p>
    {% endfor %}
    {% if parish_moderation.other_parish %}
        <h3>Parish sources of {{ parish_moderation.other_parish.name }}</h3>
        {% for source in parish_moderation.other_parish.sources.all %}
            <h5>{{ source.name }}</h5>
            <p>{{ source.messesinfo_community_id }}</p>
        {% endfor %}
    {% endif %}

    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
    {% if not parish_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
{% endblock card %}