{% extends 'layouts/single_card.html' %}

{% block card %}
    <h2 class="mb-3">
        Church: {{ church_moderation.get_category_display }}
    </h2>
    <p>Name : {{ church.name }}</p>
    <p>Address : {{ church.address }}</p>
    <p>City : {{ church.city }}</p>
    <p><a class="btn btn-primary" href="{% url 'admin:home_church_change' church.uuid %}" target="_blank" role="button">
        Open admin <i class="fas fa-up-right-from-square"></i>
    </a></p>
    <p>Location : {{ church_moderation.location }}</p>
    {% if church.location != church_moderation.location %}
        <p>New location : {{ church.location }}</p>
    {% endif %}

    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
{% endblock card %}