{% extends 'layouts/moderation_card.html' %}

{% load custom_tags %}

{% block card %}
    <h2 class="mb-3">
        Pruning: {{ pruning_moderation.get_category_display }}
    </h2>
    {% if pruning_moderation.bug_description %}
        <p>Bug description : {{ pruning_moderation.bug_description }}</p>
    {% endif %}
    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        {% if parsing_moderation %}
            <div class="d-inline-block">
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="related_url" value="{{ parsing_moderation|get_url }}">
                <button type="submit" class="btn {% if parsing_moderation.validated_at %}btn-primary{% else %}btn-success{% endif %}">Validate & related</button>
                </form>
            </div>
        {% endif %}
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
    {% for scraping in pruning.scrapings.all %}
        <div>Scraping :
            <a href="{{ scraping.url }}" target="_blank">{{ scraping.url }}</a>
            <a class="btn btn-tertiary" style="background-color: darkgreen; border-color: darkgreen;"
                       href="{% url 'admin:registry_website_change' scraping.website.uuid %}" target="_blank" role="button">
            Open website admin <i class="fas fa-up-right-from-square"></i>
            </a>
            <p>
                <a class="link-info" href="{% url 'website_view' scraping.website.uuid %}">{{ scraping.website.name }}</a>
            </p>
        </div>
    {% endfor %}
    {% if human_lines_and_colors and human_lines_and_colors != ml_lines_and_colors %}
        <h3>Human validated pruning</h3>
        <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_human' pruning.uuid %}" target="_blank" role="button">
        Edit human pruning<i class="fas fa-up-right-from-square"></i>
        </a></p>
        {% for line, color, differs in human_lines_and_colors %}
            <div class="{{ color }} {{ differs }}">{{ line|safe }}</div>
        {% endfor %}
    {% endif %}
    {% if v2_lines_and_colors %}
        {% if v2_lines_and_colors != ml_lines_and_colors or v2_lines_and_colors != human_lines_and_colors %}
            <h3>V2 pruning</h3>
            <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_v2' pruning.uuid %}" target="_blank" role="button">
            Edit pruning V2 <i class="fas fa-up-right-from-square"></i>
            </a></p>
            {% for line, color, differs in v2_lines_and_colors %}
                <div class="{{ color }} {{ differs }}">{{ line|safe }}</div>
            {% endfor %}
            <div>
                <form action="{% url 'set_v2_as_human' pruning_moderation.uuid %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn btn-warning">Set v2 as human</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
    <h3>V1 pruning</h3>
    <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_v1' pruning.uuid %}" target="_blank" role="button">
        Edit pruning V1 <i class="fas fa-up-right-from-square"></i>
    </a></p>
    {% for line, color, differs in ml_lines_and_colors %}
        <div class="{{ color }} {{ differs }}">{{ line|safe }}</div>
    {% endfor %}

    {% if parsing_moderation %}
        <div>
            <a class="btn {% if parsing_moderation.validated_at %}btn-primary{% else %}btn-success{% endif %}"
                       href="{{ parsing_moderation|get_url }}?backPath={{ pruning_moderation|get_url }}" role="button">
                {% if parsing_moderation.validated_at %}View {% endif %}
                Parsing moderation
            </a>
        </div>
    {% endif %}

    {% if not pruning_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation</button>
        </form>
    </div>
{% endblock card %}