{% extends 'layouts/single_card.html' %}

{% load display_tags %}

{% block card %}
    <h2 class="mb-3">
        Website: {{ website_moderation.get_category_display }}
    </h2>
    {% if website_moderation.bug_description %}
        <p>Bug description : {{ website_moderation.bug_description }}</p>
    {% endif %}
    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>

    {% display_website website %}

    <h4>Parishes & Churches</h4>
    {% for parish in website.parishes.all %}
        {% display_parish parish %}
        {% for church in parish.churches.all %}
            {% display_church church False %}
        {% endfor %}
        {% display_churches_location parish.churches.all %}
    {% endfor %}

    {% if website_moderation.other_website %}
        <h3>Conflicting with other website</h3>
        {% display_website website_moderation.other_website %}

        <h4>Parishes & Churches of this website</h4>
        {% for parish in website_moderation.other_website.parishes.all %}
            {% display_parish parish %}
            {% for church in parish.churches.all %}
                {% display_church church false %}
            {% endfor %}
            {% display_churches_location parish.churches.all %}
        {% endfor %}

        <div>
            <form action="{% url 'moderate_merge_websites' website_moderation.uuid %}" method="post">
                {% csrf_token %}
            <button type="submit" class="btn btn-warning">Merge Websites</button>
            </form>
        </div>
    {% endif %}

    {% if latest_crawling %}
        <h3>Latest crawling</h3>
        <p>Date : {{ latest_crawling.created_at }}</p>
        <p>Nb visited links : {{ latest_crawling.nb_visited_links }}</p>
        <p>Nb success links : {{ latest_crawling.nb_success_links }}</p>
        <p>Error detail : {{ latest_crawling.error_detail }}</p>
    {% else %}
        <h3>No crawling yet</h3>
    {% endif %}

    {% if not website_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation
            </button>
        </form>
    </div>
{% endblock card %}