{% extends 'layouts/moderation_card.html' %}
{% load display_tags %}

{% block card %}
    <h2 class="mb-3">
        Parsing: {{ parsing_moderation.get_category_display }}
    </h2>
    {% if parsing_moderation.bug_description %}
        <p>Bug description : {{ parsing_moderation.bug_description }}</p>
    {% endif %}
    <div>
        {% if parsing_moderation.validated_at %}
            <p>Validated at: {{ parsing_moderation.validated_at }}</p>
        {% else %}
            <div class="d-inline-block">
                <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Validate & {% if back_path %}back{% else %}next{% endif %}</button>
                </form>
            </div>
        {% endif %}
        {% if back_path %}
            <div class="d-inline-block">
                <a class="btn btn-info" role="button" href="{{ back_path }}">Back</a>
            </div>
        {% else %}
            <div class="d-inline-block">
                <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
            </div>
        {% endif %}
    </div>
    {% for pruning in parsing.prunings.all %}
        {% for scraping in pruning.scrapings.all %}
            <div>Scraping page: <a href="{{ scraping.page.url }}" target="_blank">{{ scraping.page.url }}</a>
                <a class="btn btn-tertiary" style="background-color: darkgreen; border-color: darkgreen;"
                   href="{% url 'admin:home_website_change' scraping.page.website.uuid %}" target="_blank" role="button">
                Open website admin <i class="fas fa-up-right-from-square"></i>
                </a>
                <p>
                <a class="link-info" href="{% url 'website_view' scraping.page.website.uuid %}">{{ scraping.page.website.name }}</a>
                </p>
            </div>
        {% endfor %}
        <p><a class="btn btn-gray-500" href="{% url 'edit_pruning' pruning.uuid %}" target="_blank" role="button">
        Edit pruning <i class="fas fa-up-right-from-square"></i>
        </a></p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="reparse_parsing" />
            <input type="hidden" name="pruning_uuid" value="{{ pruning.uuid }}"/>
            <button type="submit" class="btn btn-warning">Re-parse</button>
        </form>
    {% endfor %}


    Church description by id : <pre>{{ church_desc_by_id_json }}</pre><br>
    Truncated html :
    <div class="moderation-tabs">
      <ul>
        <li><a href="#tabs-nice">Nice display</a></li>
        <li><a href="#tabs-raw">Raw HTML</a></li>
      </ul>
      <div id="tabs-nice">
        {{ truncated_html | safe }}
      </div>
      <div id="tabs-raw">
        <pre>{{ truncated_html }}</pre>
      </div>
    </div>
    {% if llm_schedules_list %}
        Schedules list: <br>
        {% display_schedules_list llm_schedules_list church_desc_by_id_json %}<br>
    {% else %}
       Error detail: {{ parsing.llm_error_detail }}
    {% endif %}
    <br>

    {% if human_schedules_list %}
        <h4>Previously validated schedules list :</h4>
        {% if not llm_schedules_list or human_schedules_list != llm_schedules_list %}
            {% display_schedules_list human_schedules_list church_desc_by_id_json %}<br>
            <div>
                <form action="{% url 'moderate_erase_human_by_llm' parsing_moderation.uuid %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn btn-warning">Erase human by llm</button>
                </form>
            </div>
        {% else %}
            <p>Same as current</p>
        {% endif %}
    {% endif %}

    <p><a class="btn btn-black" href="{% url 'edit_parsing' parsing.uuid %}" target="_blank" role="button">
        Edit parsing <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>

    {% if not parsing_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & {% if back_path %}back{% else %}next{% endif %}</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation</button>
        </form>
    </div>
{% endblock card %}