{% extends 'layouts/moderation_card.html' %}

{% load display_tags %}

{% block card %}
    <h2 class="mb-3">
        Website: {{ website_moderation.get_category_display }}
    </h2>
    {% if website_moderation.bug_description %}
        <p>Bug description : {{ website_moderation.bug_description }}</p>
    {% endif %}
    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>

    {% display_website website %}

    {% if website_moderation.home_url and website.home_url != website_moderation.home_url %}
        Other home_url:
        <a href="{{ website_moderation.home_url }}" target="_blank">{{ website_moderation.home_url }}</a>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="replace_home_url" />
            <button type="submit" class="btn btn-warning">Replace home url</button>
        </form>
    {% endif %}

    <p>
        <a class="link-info" href="{% url 'website_view' website.uuid %}">{{ website.name }}</a>
    </p>

    {% if website_moderation.conflict_day %}
        <p>
        Conflicting on day {{ website_moderation.conflict_day }} and church {{ website_moderation.conflict_church.name }}.
        </p>
    {% endif %}

    <h4>Parishes & Churches</h4>
    {% for parish in website.parishes.all %}
        {% display_parish parish %}
        {% for church in parish.churches.all %}
            {% display_church church False %}
        {% endfor %}
        {% display_churches_location parish.churches.all %}
    {% endfor %}

    {% if website_moderation.other_website %}
        <h3>Conflicting with other website</h3>
        {% display_website website_moderation.other_website %}

        <h4>Parishes & Churches of this website</h4>
        {% for parish in website_moderation.other_website.parishes.all %}
            {% display_parish parish %}
            {% for church in parish.churches.all %}
                {% display_church church false %}
            {% endfor %}
            {% display_churches_location parish.churches.all %}
        {% endfor %}

        <div>
            <form action="{% url 'moderate_merge_websites' website_moderation.uuid %}" method="post">
                {% csrf_token %}
            <button type="submit" class="btn btn-warning">Merge Websites</button>
            </form>
        </div>
    {% endif %}

    {% if latest_crawling %}
        <h3>Latest crawling</h3>
        <div>Date : {{ latest_crawling.created_at }}</div>
        <div>Nb visited links : {{ latest_crawling.nb_visited_links }}</div>
        <div>Nb success links : {{ latest_crawling.nb_success_links }}</div>
        <div>Error detail : {{ latest_crawling.error_detail }}</div>
        <h4>Pages</h4>
        {% for page in website.get_pages %}
            <div>
                <a href="{{ page.url }}" target="_blank">{{ page.url }}</a>
                {% for pruning in page.get_prunings %}
                    <a class="btn btn-gray-500" href="{% url 'edit_pruning' pruning.uuid %}" target="_blank" role="button">
                        Edit pruning <i class="fas fa-up-right-from-square"></i>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <h3>No crawling yet</h3>
    {% endif %}

    {% if not website_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation
            </button>
        </form>
    </div>
{% endblock card %}