{% extends 'layouts/single_card.html' %}
{% load display_tags %}

{% block card %}
    <h2 class="mb-3">
        Parsing: {{ parsing_moderation.get_category_display }}
    </h2>
    {% if parsing_moderation.bug_description %}
        <p>Bug description : {{ parsing_moderation.bug_description }}</p>
    {% endif %}
    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
    <p>
        <a class="btn btn-tertiary" href="{% url 'admin:home_parsing_change' parsing.uuid %}" target="_blank" role="button">
            Open parsing admin <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>

    Church description by id : <pre>{{ parsing.church_desc_by_id }}</pre><br>
    Truncated html : <br>
    {{ truncated_html | safe }}<br>
    <br>
    Schedules list : <br>
    {% display_schedules_list schedules_list %}<br>
    <br>

    {% if parsing_moderation.validated_schedules_list %}
        Previously validated schedules list : {% display_schedules_list parsing_moderation.validated_schedules_list %}<br>
    {% endif %}
    {% if parsing.error_detail %}
        Error detail : {{ parsing.error_detail }}<br>
    {% endif %}

    {% if not parsing_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation</button>
        </form>
    </div>
{% endblock card %}