{% extends 'layouts/moderation_card.html' %}

{% load custom_tags %}

{% block card %}
    <h2 class="mb-3">
        Pruning: {{ pruning_moderation.get_category_display }}
    </h2>
    {% if pruning_moderation.bug_description %}
        <p>Bug description : {{ pruning_moderation.bug_description }}</p>
    {% endif %}
    <div>
        <div class="d-inline-block">
            <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Validate & next</button>
            </form>
        </div>
        <div class="d-inline-block">
            <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
        </div>
    </div>
    <p><a class="btn btn-gray-500" href="{% url 'edit_pruning' pruning.uuid %}" target="_blank" role="button">
        Edit pruning <i class="fas fa-up-right-from-square"></i>
    </a></p>
    {% for scraping in pruning.scrapings.all %}
        <div>Scraping page:
            <a href="{{ scraping.page.url }}" target="_blank">{{ scraping.page.url }}</a>
            <a class="btn btn-tertiary" style="background-color: darkgreen; border-color: darkgreen;"
                       href="{% url 'admin:home_website_change' scraping.page.website.uuid %}" target="_blank" role="button">
            Open website admin <i class="fas fa-up-right-from-square"></i>
            </a>
            <p>
                <a class="link-info" href="{% url 'index' %}?websiteUuid={{ scraping.page.website.uuid }}">{{ scraping.page.website.name }}</a>
            </p>
        </div>
    {% endfor %}
    {% for line, color in ml_lines_and_colors %}
        <div class="{{ color }}">{{ line|safe }}</div>
    {% endfor %}
    {% if human_lines_and_colors and human_lines_and_colors != ml_lines_and_colors %}
        <h3>Human validated pruning</h3>
        {% for line, color in human_lines_and_colors %}
            <div class="{{ color }}">{{ line|safe }}</div>
        {% endfor %}
    {% endif %}

    {% if parsing_moderation %}
        <div>
            <a class="btn {% if parsing_moderation.validated_at %}btn-primary{% else %}btn-success{% endif %}"
                       href="{{ parsing_moderation|get_url }}" target="_blank" role="button">
                {% if parsing_moderation.validated_at %}View {% endif %}
                Parsing moderation <i class="fas fa-up-right-from-square"></i>
            </a>
        </div>
    {% endif %}

    {% if not pruning_moderation.marked_as_bug_at %}
        <div>
            <form method="post">
                <label>
                    <input type="text" name="bug_description" maxlength="{{ bug_description_max_length }}">
                </label>
                {% csrf_token %}
            <button type="submit" class="btn btn-danger">Report bug & next</button>
            </form>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_moderation" />
            <button type="submit" class="btn btn-gray-700">
                 <i class="fas fa-xmark"></i>
                Delete moderation</button>
        </form>
    </div>
{% endblock card %}