{% extends 'layouts/single_card.html' %}
{% load static %}

{% load i18n %}

{% block card %}

    <div class="col-12">
        <h2 class="mb-3">
            <a class="link-info"
                href="{{ website.home_url }}">
                {{ website.name }}
            </a>
        </h2>
        <p class="col-md-9 lead">
            {% blocktrans with url=page.url %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
        </p>
        <form action="{% url 'qualify_page' page.uuid %}" method="post">
            {% csrf_token %}
            {% for colored_piece in colored_pieces %}
                <div class="row mb-2">
                    <div class="col-md-7 {{ colored_piece.color }}">
                        {{ colored_piece.text|safe }}
                        {% for tag in colored_piece.tags %}
                            <span class="badge bg-{{ tag.color }}">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-5 text-end">
                        {% for action, action_color in action_colors.items %}
                            <input type="radio" class="btn-check"
                                   id="{{ action.value }}-{{ colored_piece.id }}"
                                   name="action-{{ colored_piece.id }}"
                                   value="{{ action.value }}"
                                {% if colored_piece.action == action %}checked{% endif %}
                                autocomplete="off">
                            <label class="btn btn-fixed-outline-{{ action_color }}"
                                   for="{{ action.value }}-{{ colored_piece.id }}">{{ action.value }}</label>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <input type="hidden" name="confession_html_hash" value="{{ confession_html_hash }}">
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>

{% endblock card %}