{% extends 'layouts/moderation_card.html' %}

{% load display_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Parish' %}

    {% display_parish parish %}
    {% if parish.website %}
        {% display_website parish.website %}
    {% else %}
        <p>No website</p>
    {% endif %}

    <p>Source : {{ moderation.source }}</p>
    {% if moderation.name and parish.name != moderation.name %}
        <div>Other name : {{ moderation.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_name" />
                <button type="submit" class="btn btn-warning">Replace name</button>
            </form>
        </div>
    {% endif %}
    {% if moderation.website %}
        <div>Other website :
            <a href="{{ moderation.website.home_url }}" target="_blank">{{ moderation.website.home_url }}</a>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_website" />
                <button type="submit" class="btn btn-warning">Replace website</button>
            </form>
        </div>
    {% endif %}

    {% for similar_parish in moderation.similar_parishes.all %}
        <div>
            Similar parish {{ forloop.counter }} : {% display_parish similar_parish %}
            <form method="post">
                {% csrf_token %}
                    <input type="hidden" name="assign_external_id" value="{{ similar_parish.uuid }}" />
                <button type="submit" class="btn btn-warning">Assign external id</button>
            </form>
        </div>
    {% endfor %}

    {% include 'moderations/_footer.html' %}
{% endblock card %}
