{% extends 'layouts/moderation_card.html' %}

{% load custom_tags %}
{% load display_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Church' %}

    {% include 'moderations/_validate_next.html' %}

    {% if moderation.source %}
        <p>External source : {{ moderation.source }}</p>
    {% endif %}
    {% display_church church similar_churches|negate %}
    {% display_parish church.parish %}

    {% if moderation.name and church.name != moderation.name %}
        <div>Other name : {{ moderation.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_name" />
                <button type="submit" class="btn btn-warning">Replace name</button>
            </form>
        </div>
    {% endif %}
    {% if moderation.location_desc_differs %}
        <div>Other location desc:
            <form method="post">
                {% csrf_token %}
                <div>
                    {% if moderation.location and moderation.location != church.location %}
                        <label>
                            <input type="checkbox" name="replace_location" checked>
                            Location : {% display_location moderation.location %}
                        </label>
                    {% else %}
                        Same location
                    {% endif %}
                </div>
                <div>
                    {% if moderation.address != church.address %}
                        <label>
                            <input type="checkbox" name="replace_address" checked>
                            Address : {{ moderation.address }}
                        </label>
                    {% else %}
                        Same address
                    {% endif %}
                </div>
                <div>
                    {% if moderation.zipcode != church.zipcode %}
                        <label>
                            <input type="checkbox" name="replace_zipcode" checked>
                            Zipcode : {{ moderation.zipcode }}
                        </label>
                    {% else %}
                        Same zipcode
                    {% endif %}
                </div>
                <div>
                    {% if moderation.city != church.city %}
                        <label>
                            <input type="checkbox" name="replace_city" checked>
                            City : {{ moderation.city }}
                        </label>
                    {% else %}
                        Same city
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-warning">Replace selected items</button>
            </form>
        </div>
    {% endif %}
    {% if moderation.parish %}
        <div>Other parish : {% display_parish moderation.parish %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_parish" />
                <button type="submit" class="btn btn-warning">Replace parish</button>
            </form>
        </div>
    {% endif %}
    {% if moderation.messesinfo_id and church.messesinfo_id != moderation.messesinfo_id %}
        <div>Other messesinfo_id : {{ moderation.messesinfo_id }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="replace_messesinfo_id" />
                <button type="submit" class="btn btn-warning">Replace messesinfo id</button>
            </form>
        </div>
    {% endif %}

    {% if similar_churches %}
        {% display_similar_churches_location church similar_churches %}
        {% for similar_church in similar_churches %}
            <div>
                Similar church {{ forloop.counter }} : {% display_church similar_church False %}
                {% display_parish similar_church.parish %}
                <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="assign_external_id" value="{{ similar_church.uuid }}" />
                    <button type="submit" class="btn btn-warning">Assign external id</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}

    {% include 'moderations/_mark_as_bug.html' %}
    {% include 'moderations/_delete.html' %}
{% endblock card %}
