{% extends 'layouts/moderation_card.html' %}

{% load display_tags %}

{% block card %}
    {% include 'moderations/_header.html' with title_prefix='Website' %}
    {% include 'moderations/_validate_next.html' %}

    {% display_website website %}

    {% if moderation.home_url and website.home_url != moderation.home_url %}
        Other home_url:
        <a href="{{ moderation.home_url }}" target="_blank">{{ moderation.home_url }}</a>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="replace_home_url" />
            <button type="submit" class="btn btn-warning">Replace home url</button>
        </form>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="suggest_alternative_website" />
        <button type="submit" class="btn btn-info">Suggest alternative url</button>
    </form>

    <p>
        <a class="link-info" href="{% url 'website_view' website.uuid %}">{{ website.name }}</a>
    </p>

    <h4>Parishes & Churches</h4>
    {% for parish in website.parishes.all %}
        {% display_parish parish %}
        {% for church in parish.churches.all %}
            {% display_church church False %}
        {% endfor %}
        {% display_churches_location parish.churches.all %}
    {% endfor %}

    {% if moderation.other_website %}
        <h3>Conflicting with other website</h3>
        {% display_website moderation.other_website %}

        <h4>Parishes & Churches of this website</h4>
        {% for parish in moderation.other_website.parishes.all %}
            {% display_parish parish %}
            {% for church in parish.churches.all %}
                {% display_church church false %}
            {% endfor %}
            {% display_churches_location parish.churches.all %}
        {% endfor %}

        <div>
            <form action="{% url 'moderate_merge_websites' moderation.uuid %}" method="post">
                {% csrf_token %}
            <button type="submit" class="btn btn-warning">Merge Websites</button>
            </form>
        </div>
    {% endif %}

    {% if latest_crawling %}
        <h3>Latest crawling</h3>
        <div>Date : {{ latest_crawling.created_at }}</div>
        <div>Nb visited links : {{ latest_crawling.nb_visited_links }}</div>
        <div>Nb success links : {{ latest_crawling.nb_success_links }}</div>
        <div>Error detail : {{ latest_crawling.error_detail }}</div>
        <h4>Scrapings</h4>
        {% for scraping in website.scrapings.all %}
            <div>
                <a href="{{ scraping.url }}" target="_blank">{{ scraping.url }}</a>
                {% for pruning in scraping.prunings.all %}
                    <a class="btn btn-gray-500" href="{% url 'edit_pruning_v1' pruning.uuid %}" target="_blank" role="button">
                        Edit pruning <i class="fas fa-up-right-from-square"></i>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <h3>No crawling yet</h3>
    {% endif %}

    {% include 'moderations/_mark_as_bug.html' %}
    {% include 'moderations/_delete.html' %}
{% endblock card %}
