{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>
  <!-- Hero -->
  <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-left">
            <div class="card shadow">
                <div class="card-body px-md-5 py-md-5 text-left">
                    <div class="row align-items-center">
                        <div class="col-12">
                            {% block card %}{% endblock card %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/moderation.js' %}"></script>
{% endblock javascripts %}