/* https://themesberg.com/docs/pixel-bootstrap/components/alerts/ */
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.alert-dismissible .close {
    top: 50%;
    right: 1.5rem;
    padding: 0;
    transform: translateY(-50%);
    color: rgba(255,255,255,0.6);
    opacity: 1;
    position: absolute;
}

.close>span:not(.sr-only) {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0.6);
    line-height: 22px;
    border-radius: 50%;
    font-size: 1.25rem;
    transition: all 0.2s ease;
}

.alert-dismissible .close>span:not(.sr-only) {
    font-size: 1.5rem;
    background-color: transparent;
}


/* MAP squared on mobile portrait only */
.map-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .map-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:60%;
  }
}

/* Make table horizontally scrollable */
/* https://stackoverflow.com/questions/5533636/add-a-horizontal-scrollbar-to-an-html-table */
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/* Table must apply text color from parent div */
.table {
    color: inherit;
}

/* Reduce container padding */
.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Autocomplete label */
.autocomplete-name {
    font-weight: bold;
}
.autocomplete-name .badge {
    vertical-align: text-top;
}

/* clickable element */
.clickable {
    cursor: pointer;
}


/*
 * On mobile the hover state remains after click.
 * https://stackoverflow.com/questions/17233804/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices
 * Best solution was to cut/paste pixel css and remove hover property.
 * Might be fixed when migrating to pure bootstrap.
 */
.btn-fixed-outline-success {
  color: #3aaf85;
  border-color: #3aaf85; }
  .btn-check:focus + .btn-fixed-outline-success, .btn-fixed-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 175, 133, 0.5); }
  .btn-check:checked + .btn-fixed-outline-success, .btn-check:active + .btn-fixed-outline-success, .btn-fixed-outline-success:active, .btn-fixed-outline-success.active, .btn-fixed-outline-success.dropdown-toggle.show {
    color: #1c2540;
    background-color: #3aaf85;
    border-color: #3aaf85; }
    .btn-check:checked + .btn-fixed-outline-success:focus, .btn-check:active + .btn-fixed-outline-success:focus, .btn-fixed-outline-success:active:focus, .btn-fixed-outline-success.active:focus, .btn-fixed-outline-success.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(58, 175, 133, 0.5); }
  .btn-fixed-outline-success:disabled, .btn-fixed-outline-success.disabled {
    color: #3aaf85;
    background-color: transparent; }

.btn-fixed-outline-info {
  color: #0d6efd;
  border-color: #0d6efd; }
  .btn-check:focus + .btn-fixed-outline-info, .btn-fixed-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.5); }
  .btn-check:checked + .btn-fixed-outline-info, .btn-check:active + .btn-fixed-outline-info, .btn-fixed-outline-info:active, .btn-fixed-outline-info.active, .btn-fixed-outline-info.dropdown-toggle.show {
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd; }
    .btn-check:checked + .btn-fixed-outline-info:focus, .btn-check:active + .btn-fixed-outline-info:focus, .btn-fixed-outline-info:active:focus, .btn-fixed-outline-info.active:focus, .btn-fixed-outline-info.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(13, 110, 253, 0.5); }
  .btn-fixed-outline-info:disabled, .btn-fixed-outline-info.disabled {
    color: #0d6efd;
    background-color: transparent; }

.btn-fixed-outline-warning {
  color: #ffc107;
  border-color: #ffc107; }
  .btn-check:focus + .btn-fixed-outline-warning, .btn-fixed-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  .btn-check:checked + .btn-fixed-outline-warning, .btn-check:active + .btn-fixed-outline-warning, .btn-fixed-outline-warning:active, .btn-fixed-outline-warning.active, .btn-fixed-outline-warning.dropdown-toggle.show {
    color: #1c2540;
    background-color: #ffc107;
    border-color: #ffc107; }
    .btn-check:checked + .btn-fixed-outline-warning:focus, .btn-check:active + .btn-fixed-outline-warning:focus, .btn-fixed-outline-warning:active:focus, .btn-fixed-outline-warning.active:focus, .btn-fixed-outline-warning.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  .btn-fixed-outline-warning:disabled, .btn-fixed-outline-warning.disabled {
    color: #ffc107;
    background-color: transparent; }

.btn-fixed-outline-danger {
  color: #dc3545;
  border-color: #dc3545; }
  .btn-check:focus + .btn-fixed-outline-danger, .btn-fixed-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  .btn-check:checked + .btn-fixed-outline-danger, .btn-check:active + .btn-fixed-outline-danger, .btn-fixed-outline-danger:active, .btn-fixed-outline-danger.active, .btn-fixed-outline-danger.dropdown-toggle.show {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545; }
    .btn-check:checked + .btn-fixed-outline-danger:focus, .btn-check:active + .btn-fixed-outline-danger:focus, .btn-fixed-outline-danger:active:focus, .btn-fixed-outline-danger.active:focus, .btn-fixed-outline-danger.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  .btn-fixed-outline-danger:disabled, .btn-fixed-outline-danger.disabled {
    color: #dc3545;
    background-color: transparent; }

.btn-fixed-outline-gray {
  color: #1F2937;
  border-color: #1F2937; }
  .btn-check:focus + .btn-fixed-outline-gray, .btn-fixed-outline-gray:focus {
    box-shadow: 0 0 0 0.2rem rgba(31, 41, 55, 0.5); }
  .btn-check:checked + .btn-fixed-outline-gray, .btn-check:active + .btn-fixed-outline-gray, .btn-fixed-outline-gray:active, .btn-fixed-outline-gray.active, .btn-fixed-outline-gray.dropdown-toggle.show {
    color: #ffffff;
    background-color: #1F2937;
    border-color: #1F2937; }
    .btn-check:checked + .btn-fixed-outline-gray:focus, .btn-check:active + .btn-fixed-outline-gray:focus, .btn-fixed-outline-gray:active:focus, .btn-fixed-outline-gray.active:focus, .btn-fixed-outline-gray.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(31, 41, 55, 0.5); }
  .btn-fixed-outline-gray:disabled, .btn-fixed-outline-gray.disabled {
    color: #1F2937;
    background-color: transparent; }

.btn-fixed-outline-black {
  color: #171f38;
  border-color: #171f38; }
  .btn-check:focus + .btn-fixed-outline-black, .btn-fixed-outline-black:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 31, 56, 0.5); }
  .btn-check:checked + .btn-fixed-outline-black, .btn-check:active + .btn-fixed-outline-black, .btn-fixed-outline-black:active, .btn-fixed-outline-black.active, .btn-fixed-outline-black.dropdown-toggle.show {
    color: #ffffff;
    background-color: #171f38;
    border-color: #171f38; }
    .btn-check:checked + .btn-fixed-outline-black:focus, .btn-check:active + .btn-fixed-outline-black:focus, .btn-fixed-outline-black:active:focus, .btn-fixed-outline-black.active:focus, .btn-fixed-outline-black.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(23, 31, 56, 0.5); }
  .btn-fixed-outline-black:disabled, .btn-fixed-outline-black.disabled {
    color: #171f38;
    background-color: transparent; }

.btn-fixed-outline-purple {
  color: #6f42c1;
  border-color: #6f42c1; }
  .btn-check:focus + .btn-fixed-outline-purple, .btn-fixed-outline-purple:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.5); }
  .btn-check:checked + .btn-fixed-outline-purple, .btn-check:active + .btn-fixed-outline-purple, .btn-fixed-outline-purple:active, .btn-fixed-outline-purple.active, .btn-fixed-outline-purple.dropdown-toggle.show {
    color: #ffffff;
    background-color: #6f42c1;
    border-color: #6f42c1; }
    .btn-check:checked + .btn-fixed-outline-purple:focus, .btn-check:active + .btn-fixed-outline-purple:focus, .btn-fixed-outline-purple:active:focus, .btn-fixed-outline-purple.active:focus, .btn-fixed-outline-purple.dropdown-toggle.show:focus {
      box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(111, 66, 193, 0.5); }
  .btn-fixed-outline-purple:disabled, .btn-fixed-outline-purple.disabled {
    color: #6f42c1;
    background-color: transparent; }


/* Not included in  pixel css ...
https://themesberg.com/docs/pixel-bootstrap/components/badges/
*/
.badge-danger {
    color: #fff;
    background-color: #A91E2C
}
.badge-warning {
    color: #fff;
    background-color: #F0B301
}
.badge-primary {
    color: #fff;
    background-color: #1c2540
}
.badge-light-blue {
    color: #fff;
    background-color: #38aadd
}
.badge-success {
    color: #fff;
    background-color: #3aaf85
}

/*
UI widget
 */
.ui-widget-header {
    background: none;
    border: none;
}

.ui-widget-content a.link-info {
    color: #0d6efd;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .3em .3em;
}

.ui-tabs .ui-tabs-panel {
    padding: .6em;
}

/*
 * Forms
 */
.disable-select-until-check:has(input.check-necessary:not(:checked)) select {
    pointer-events: none;
    opacity: 0.5;
}

/*
 * Navbar scroll
 */
@media (min-width: 992px) {
    .dropdown-menu {
        max-height: 80vh;
        overflow-y: scroll;
    }
}

/**
 * Calendar
 */

.calendar-table {
    white-space: wrap;
    display: table;
    width: 100%;
}

.calendar-table thead, .calendar-table tbody,
.calendar-table tfoot, .calendar-table tr,
.calendar-table td, .calendar-table th {
    border: none;
    font-weight: normal;
}

.calendar-table th {
    padding: 0 0.2em;
}

.calendar-table td {
    vertical-align: top;
}

/**
 * Church event dot
 */
.church-event-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.colored-schedule {
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.2em 0.2em;
}

.website-card.hide-explicitly-other .explicitly-other {
    display: none;
}

/**
 * Collapse element
 */
.toggle-symbol {
    margin-right: 0.4em;
}

/* Collapsed state (>) */
.toggle-symbol.collapsed-symbol::before {
    content: '\25B6'; /* ▶ */
}

/* Expanded state (V) */
.toggle-symbol.expanded-symbol::before {
    content: '\25BC'; /* ▼ */
}

/**
 * Indentation
 */
.margin-left-indent {
    margin-left: 1em;
}