{% extends 'layouts/single_card.html' %}
{% load static %}

{% load i18n %}

{% block card %}

    <div class="col-12">
        {% for scraping in pruning.scrapings.all %}
            <h2 class="mb-3">
                <a class="link-info"
                    href="{{ scraping.website.home_url }}">
                    {{ scraping.website.name }}
                </a>
            </h2>
            <p class="col-md-9 lead">
                {% blocktrans with url=scraping.url %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
            </p>
        {% endfor %}
        <p><a class="btn btn-gray-500" href="{% url 'edit_pruning_human' pruning.uuid %}" target="_blank" role="button">
        Edit human pruning <i class="fas fa-up-right-from-square"></i>
        </a></p>

        <form action="{% url 'edit_pruning_v2' pruning.uuid %}" method="post">
            {% csrf_token %}
            {% include 'includes/colored_pieces.html' %}
            <button type="submit" class="btn btn-info mt-4" name="set_as_human" value="false">Preview</button>
            <button type="submit" class="btn btn-primary mt-4" name="set_as_human" value="true">Submit</button>
        </form>
    </div>

{% endblock card %}