{% extends 'layouts/single_card.html' %}
{% load static %}
{% load display_tags %}

{% load i18n %}

{% block card %}

    <div class="col-12">
        <h2>Edit Parsing</h2>
        {% display_parsing_scrapings parsing %}
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="far fa-thumbs-up"></i></span>
                <span class="alert-inner--text"><strong>Success!</strong></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif validation_error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="fas fa-fire"></i></span>
                <span class="alert-inner--text"><strong>ValidationError</strong> {{ validation_error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form action="{% url 'edit_parsing' parsing.uuid %}" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.json }}
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>

{% endblock card %}