<div style="color: lightseagreen">
    <p>Name : {{ church.name }} (messesinfo_id={{ church.messesinfo_id }})</p>
    <p>Address : {{ church.address }}</p>
    <p>City : {{ church.city }}</p>
    <p>Location : {{ church.location }}</p>
    <p>
        <a class="btn btn-tertiary"
           style="background-color: lightseagreen; border-color: lightseagreen;
           href="{% url 'admin:home_church_change' church.uuid %}" target="_blank" role="button">
        Open church admin <i class="fas fa-up-right-from-square"></i>
        </a>
    </p>
</div>