{% load custom_tags %}

<div>
    {% for schedule in schedules_list.schedules %}
        church_id: {{ schedule.church_id }}<br>
        rrule: {{ schedule.rrule }}<br>
        exrule: {{ schedule.exrule }}<br>
        duration_in_minutes: {{ schedule.duration_in_minutes }}<br>
        during_school_holidays: {{ schedule.during_school_holidays }}<br>
        {% with events=schedule|get_schedule_item_events %}
            {% for event in events %}
                <p>{{ event.start|date:"l j F" }} {{ event.start|date:"G:i" }} - {{ event.end|date:"G:i" }}</p>
            {% endfor %}
        {% endwith %}
        <br>
    {% endfor %}
    possible_by_appointment: {{ schedules_list.possible_by_appointment }}<br>
    is_related_to_mass: {{ schedules_list.is_related_to_mass }}<br>
    is_related_to_adoration: {{ schedules_list.is_related_to_adoration }}<br>
    is_related_to_permanence: {{ schedules_list.is_related_to_permanence }}<br>
</div>
