{% load custom_tags %}
{% load display_tags %}
{% load i18n %}

{% if parsings_and_prunings.parsings or oclocher_organization_id %}
    {% for parsing in parsings_and_prunings.parsings %}
        <div class="row mt-1 mb-3 margin-left-indent" id="parsing-{{ website.uuid }}-{{ parsing.uuid }}">
            {% with scraping=parsings_and_prunings.scraping_by_parsing_uuid|get_item:parsing.uuid %}
            {% if scraping %}
                <div class="col-md-9 lead">
                    [{{ forloop.counter }}]
                    {% blocktrans with url=scraping_parsing_urls|get_item:scraping.uuid|get_item:parsing.uuid %}BeforeConfessionHTML {{ url }}{% endblocktrans %}
                    {% with scraping_counter=parsings_and_prunings.all_scrapings_by_parsing_uuid|get_item:parsing.uuid|length %}
                        {% if scraping_counter > 1 %}<span><small class="text-muted">(et {{ scraping_counter|subtract:1 }} autres pages)</small></span>{% endif %}
                    {% endwith %}
                </div>
            {% else %}
                <div class="col-md-9 lead">
                    [{{ forloop.counter }}]
                    {% with image=parsings_and_prunings.image_by_parsing_uuid|get_item:parsing.uuid %}
                    Extrait de cette image
                    {% with image_counter=parsings_and_prunings.all_images_by_parsing_uuid|get_item:parsing.uuid|length %}
                        {% if image_counter > 1 %}<span><small class="text-muted">(et {{ image_counter|subtract:1 }} autres images)</small></span>{% endif %}
                    {% endwith %}:
                    {% display_image image request %}
                    {% endwith %}
                </div>
            {% endif %}
            <div class="col-md-3">
                {% if request.user.is_authenticated and perms.home.change_sentence %}
                    <div class="row">
                        {% for pruning in parsings_and_prunings.prunings_by_parsing_uuid|get_item:parsing.uuid %}
                            {% with unvalidated_pruning_moderation=pruning|get_unvalidated_pruning_moderation %}
                                {% if unvalidated_pruning_moderation %}
                                    <div class="col-xl-6">
                                        <a href="{{ unvalidated_pruning_moderation|get_url }}" class="link-info">
                                            <i class="fas fa-tags"></i> Valider
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-xl-6">
                                        <a href="{% url 'edit_pruning_v1' pruning.uuid %}" class="link-info"><i class="fas fa-tags"></i> {% trans 'EditPruning' %}</a>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        <div class="col-xl-6">
                            {% with parsing_moderation=parsing.moderations.first %}
                                {% if parsing_moderation %}
                                    <a href="{{ parsing_moderation|get_url }}" class="link-info">
                                        <i class="fas fa-code"></i> Modérer
                                    </a>
                                {% else %}
                                    <a href="{% url 'edit_parsing' parsing.uuid %}" class="link-info"><i class="fas fa-code"></i> {% trans 'EditParsing' %}</a>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="margin-left-indent">
                {% display_expandable_pruning parsings_and_prunings.prunings_by_parsing_uuid|get_item:parsing.uuid|get_ith:0 %}
            </div>
            {% endwith %}
        </div>
    {% endfor %}
    {% if oclocher_organization_id %}
        <div class="row mt-1 mb-3 margin-left-indent" id="oclocher-{{ website.uuid }}">
            <div class="lead">[OClocher]</div>
            <div>Téléchargez l'application <a href="https://app.oclocher.fr/" class="link-info">OClocher</a> pour plus d'informations sur cette paroisse.</div>
            <div>
              <iframe
                src="https://widget.oclocher.app/organization/{{ oclocher_organization_id }}/schedules"
                title="Widget OClocher"
                allowfullscreen
                class="w-100 border-0"
                style="height: 350px;"
              ></iframe>
            </div>
        </div>
    {% endif %}
{% elif not website.has_been_crawled %}
    {% trans 'NotCrawledYet' %}
{% else %}
    {% trans 'NoConfessionExtractFound' %}
{% endif %}

{% if empty_sources %}
    <div class="margin-left-indent">
        <h5>Empty sources</h5>
        {% for scraping in empty_sources.scrapings %}
            <div>Scraping <a href="{{ scraping.url }}">{{ scraping.url }}</a></div>
            {% for pruning in empty_sources.prunings_by_scraping_uuid|get_item:scraping.uuid %}
                <div class="margin-left-indent">
                    <div class="row">
                        {% with unvalidated_pruning_moderation=pruning|get_unvalidated_pruning_moderation %}
                            {% if unvalidated_pruning_moderation %}
                                <div class="col-xl-6">
                                    <a href="{{ unvalidated_pruning_moderation|get_url }}" class="link-info">
                                        <i class="fas fa-tags"></i> Valider
                                    </a>
                                </div>
                            {% else %}
                                <div class="col-xl-6">
                                    <a href="{% url 'edit_pruning_v1' pruning.uuid %}" class="link-info"><i class="fas fa-tags"></i> {% trans 'EditPruning' %}</a>
                                </div>
                            {% endif %}
                        {% endwith %}
                        {% for parsing in empty_sources.parsings_by_pruning_uuid|get_item:pruning.uuid %}
                            <div class="col-xl-6">
                                {% with parsing_moderation=parsing.moderations.first %}
                                    {% if parsing_moderation %}
                                        <a href="{{ parsing_moderation|get_url }}" class="link-info">
                                            <i class="fas fa-code"></i> Modérer
                                        </a>
                                    {% else %}
                                        <a href="{% url 'edit_parsing' parsing.uuid %}" class="link-info"><i class="fas fa-code"></i> {% trans 'EditParsing' %}</a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                    {% display_expandable_pruning pruning %}
                </div>
            {% empty %}
                <div class="margin-left-indent">No pruning found for this scraping.</div>
            {% endfor %}
        {% empty %}
            No empty scrapings.
        {% endfor %}
        {% for image in empty_sources.images %}
            <div>
                Extrait de cette image
                {% display_image image request %}
            </div>
            {% for pruning in empty_sources.prunings_by_image_uuid|get_item:image.uuid %}
                <div class="margin-left-indent">
                    <div class="row">
                        {% with unvalidated_pruning_moderation=pruning|get_unvalidated_pruning_moderation %}
                            {% if unvalidated_pruning_moderation %}
                                <div class="col-xl-6">
                                    <a href="{{ unvalidated_pruning_moderation|get_url }}" class="link-info">
                                        <i class="fas fa-tags"></i> Valider
                                    </a>
                                </div>
                            {% else %}
                                <div class="col-xl-6">
                                    <a href="{% url 'edit_pruning_v1' pruning.uuid %}" class="link-info"><i class="fas fa-tags"></i> {% trans 'EditPruning' %}</a>
                                </div>
                            {% endif %}
                        {% endwith %}
                        {% for parsing in empty_sources.parsings_by_pruning_uuid|get_item:pruning.uuid %}
                            <div class="col-xl-6">
                                {% with parsing_moderation=parsing.moderations.first %}
                                    {% if parsing_moderation %}
                                        <a href="{{ parsing_moderation|get_url }}" class="link-info">
                                            <i class="fas fa-code"></i> Modérer
                                        </a>
                                    {% else %}
                                        <a href="{% url 'edit_parsing' parsing.uuid %}" class="link-info"><i class="fas fa-code"></i> {% trans 'EditParsing' %}</a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                    {% display_expandable_pruning pruning %}
                </div>
            {% empty %}
                <div class="margin-left-indent">No pruning found for this image.</div>
            {% endfor %}
        {% empty %}
            No empty images.
        {% endfor %}
    </div>
{% endif %}