{% load display_tags %}
<h2 class="mb-3">{{ title_prefix }}: {{ moderation.get_category_display }} ({{ position }} / {{ count }})</h2>
<p>Status: {% display_status_badge moderation.status %}</p>
{% if moderation.status != 'validated' %}
    <div class="d-inline-block">
        <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Validate & {% if back_path %}back{% else %}next{% endif %}</button>
        </form>
    </div>
{% endif %}
{% if back_path %}
    <div class="d-inline-block">
        <a class="btn btn-info" role="button" href="{{ back_path }}">Back</a>
    </div>
{% else %}
    <div class="d-inline-block">
        <a class="btn btn-info" role="button" href="{{ next_url }}">Next</a>
    </div>
{% endif %}
