{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{% static 'assets/img/S4-E2-Confessions-The-Chosen.png' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Email envoyé</h1>
                            </div>
                            <span>Un email a été envoyé à votre adresse, si celle-ci est liée à un compte. Cliquer sur le lien pour ré-initialiser votre mot de passe.</span>
                            <div class="mt-2">En cas de difficulté, merci de <a class="text-underline" href="{% url 'contact' %}">nous contacter</a>.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

 {% endblock content %}

 {% block footer %}{% endblock footer %}