{% load custom_tags %}
{% load display_tags %}
{% load i18n %}

{% for sourced_schedules_of_church in website_schedules.sourced_schedules_list.sourced_schedules_of_churches %}
    {% with church=website_schedules.church_by_id|get_item:sourced_schedules_of_church.church_id %}
        <div id="{% if church %}church-{{ church.uuid }}{% else %}nochurch-{{ website.uuid }}-{{ sourced_schedules_of_church.is_church_explicitly_other|lower }}{% endif %}"
             class="{% if church %}church-container {% endif %}margin-left-indent mb-3"
             {% if church %}data-church-uuid="{{ church.uuid }}"{% endif %}>
            {% if church %}
                <div>
                    <span class="church-name fw-bold">{% display_church_color church False website_schedules.church_color_by_uuid %} {{ church.name }}</span>

                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <a class="text-muted" href="{% url 'admin:registry_church_change' church.uuid %}" target="_blank">
                            - Admin <i class="fas fa-up-right-from-square"></i>
                        </a>
                    {% endif %}
                    <div class="small">
                        <span class="text-muted">{% if church.address %}{{ church.address }} {% endif %}{{ church.zipcode }} {{ church.city }}</span>
                        <span class="text-muted copy-to-clipboard clickable"><i class="far fa-copy"></i></span>
                    </div>
                </div>
            {% elif sourced_schedules_of_church.is_church_explicitly_other %}
                <div>
                    {% display_church_color church True website_schedules.church_color_by_uuid %}
                    {% display_other_church_icon True %}
                    <span class="text-danger">{% trans 'OutsideThisParish' %} :</span>
                </div>
            {% else %}
                <div>
                    {% display_church_color church False website_schedules.church_color_by_uuid %}
                    {% display_other_church_icon False %}
                    {% trans 'UnknownChurch' %} :
                </div>
            {% endif %}
            {% for sourced_schedule_item in sourced_schedules_of_church.sourced_schedules %}
                <div class="margin-left-indent">
                    <span>{{ sourced_schedule_item.explanation }}</span>
                    {% for source in sourced_schedule_item.sources %}
                        {% include 'includes/source_reference.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


    {% endwith %}
{% endfor %}
<div class="margin-left-indent mt-1">
    {% if website_schedules.sourced_schedules_list.possible_by_appointment_sources %}
        <div>🤝 Il est possible de se confesser sur rendez-vous.
            {% for source in website_schedules.sourced_schedules_list.possible_by_appointment_sources %}
                {% include 'includes/source_reference.html' %}
            {% endfor %}
        </div>
    {% endif %}
    {{ website_schedules|has_relation_text }}
    {% for source in website_schedules|relation_sources %}
        {% include 'includes/source_reference.html' %}
    {% endfor %}
</div>
