##
# Install crons commands
##
- name: Add cron for commands
  cron:
    name: "{{ item.name }}"
    hour: "{{ item.hour }}"
    minute: "{{ item.minute }}"
    job: "(tmux has-session -t {{ item.name }} || tmux new-session -d -s {{ item.name }}) && tmux send-keys -t {{ item.name }} 'sudo systemd-run --scope --property=MemoryMax={{ item.memory_max }} flock /var/lock/manage.lock bash -c \". {{ app_dir }}/.env; {{ venv_python }} {{ app_dir }}/manage.py {{ item.command }}\"' C-m"
  with_items:
    - name: daily_train_action_model
      command: "train_action_model --automatic"
      hour: "0"
      minute: 35
      memory_max: "3200M"
    - name: daily_reclassify_action
      command: "reclassify_sentences -t action"
      hour: "0"
      minute: 40
      memory_max: "3200M"
    - name: daily_train_pruning_model
      command: "train_pruning_model --automatic"
      hour: "0"
      minute: 45
      memory_max: "3200M"
    - name: daily_reclassify_temporal
      command: "reclassify_sentences -t temporal"
      hour: "0"
      minute: 48
      memory_max: "3200M"
    - name: daily_reclassify_confession
      command: "reclassify_sentences -t confession"
      hour: "0"
      minute: 51
      memory_max: "3200M"
    - name: daily_find_sentence_outliers
      command: "find_sentence_outliers -t confession"
      hour: "0"
      minute: 54
      memory_max: "3200M"
    - name: daily_crawl_websites
      command: "crawl_websites -t 78900 --no-recent"
      hour: "1"
      minute: 0
      memory_max: "800M"
    - name: daily_check_crawling
      command: "check_crawling"
      hour: "9"
      minute: 0
      memory_max: "800M"
#    - name: hourly_scrape_pages
#      command: "scrape_pages -t 6900"
#      hour: "9,11,13,15,17,19,21"
#      minute: 0
#      memory_max: "800M"
#    - name: hourly_crawl_websites_in_error
#      command: "crawl_websites --in-error -t 21300"
#      hour: "10,16"
#      minute: 0
#      memory_max: "800M"
    - name: daily_clean_database
      command: "clean_database"
      hour: "23"
      minute: 0
      memory_max: "3200M"
#    - name: daily_sync_trouverunemesse
#      command: "sync_trouverunemesse -t 2400"
#      hour: "23"
#      minute: 15
#      memory_max: "800M"

- name: Add cron to unlock dead tasks every minute
  cron:
    name: "unlock_dead_tasks"
    minute: "*"
    job: "(tmux has-session -t unlock_dead_tasks || tmux new-session -d -s unlock_dead_tasks) && tmux send-keys -t unlock_dead_tasks '. {{ app_dir }}/.env; {{ venv_python }} {{ app_dir }}/manage.py unlock_dead_tasks' C-m"
