name: CI linter and unit tests

on: [push]

permissions:
  contents: read

jobs:
  lint-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install locales package
      run: sudo apt-get update && sudo apt-get install -y locales
    - name: Generate and set locale
      run: |
        sudo locale-gen fr_FR.UTF-8
        echo "LC_ALL=fr_FR.UTF-8" | sudo tee -a /etc/environment
        echo "LANG=fr_FR.UTF-8" | sudo tee -a /etc/environment
        source /etc/environment
    - name: Cache uv
      uses: actions/cache@v4
      with:
        path: ~/.cache/uv
        key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
        restore-keys: |
          uv-${{ runner.os }}-
    - name: Install dependencies
      run: uv sync --group ci
    - name: Run flake8
      run: uv run flake8 .
    - name: Run unittests
      run: uv run python -m unittest discover scraping